In [17]:
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Output, Input
import os 
import pandas as pd
import numpy as np
from plotly import graph_objects as go

In [ ]:
pwd

In [ ]:
os.chdir(r"C:\Users\HP\source\repos\STARS_dashboard")
os.getcwd()

In [2]:
# app instantiation
app = JupyterDash(__name__)

In [4]:
# app layout
app.layout = html.Div([
    dcc.Dropdown(
        options=[{"label" : color,
                 "value" : color }
                 for color in ["blue","green","yellow"]
    ]),
    html.Div()
])

In [ ]:
# run the app
if __name__ == "__main__":
    app.run_server(mode = "inline",port = "3333")

In [ ]:
#using callbacks

# app instantiation
app = JupyterDash(__name__)

# app layout
app.layout = html.Div([
    dcc.Dropdown(id= "color_dropdown",
                 options = [
                    {"label": color, 
                    "value": color}
                    for color in ["Blue","Black", "Green"]
                ]),
    html.Br(),
    html.Div(id="display_dropdown")
])

# callback functions
@app.callback(Output(component_id = "display_dropdown",
                     component_property= "children"),
              Input(component_id = "color_dropdown",
                    component_property = "value"))

def display_selected_color(color):
    if color is None:
        color = "Nothing"
    return "The color is " + color 

# run the app
if __name__ == "__main__":
    app.run_server(mode = "inline", port = 2)

In [ ]:
# app instantiation
app = JupyterDash(__name__)

# information on the activities
timeline = ["first year", "second year"]
short_description = {"first year":"The data collection activities spanned 10 districts while gathering data on 343 schools where 100 schools were in the\
                     control group while 243 schools were in the treatment group",
                     "second year":"489 schools were visited across 10 districts to conduct STARS data collection activities."}

# app layout
app.layout = html.Div([
    dcc.Dropdown(id = "id_dropdown",
                 options = [{"label" : time,
                            "value": time}
                            for time in timeline]),
    html.Br(),
    html.Div(id = "output_dropdown")
])

# callback functions
@app.callback(Output(component_id = "output_dropdown",
                     component_property= "children"),
              Input(component_id = "id_dropdown",
                    component_property = "value"))

def activity_info(timeline):
    if timeline is None:
        return "STARS project is being implemented by Innovation for Poverty Actions in partnership with Georgetown University, MINEDUC, REB, and NESA"
    return [html.H3(timeline), f'For the  {timeline}, {short_description[timeline]}']

# run the app
if __name__ == "__main__":
    app.run_server(mode = "inline", port = 5)

## Working with Plotly's Figure Objects

### Understanding the Figure Object

In [ ]:
go.Figure()

In [ ]:
fig = go.Figure()
fig.add_scatter(x=[1,2,3],y=[4,2,3])
fig.show()

In [ ]:
fig.add_scatter(x = [3,5,2,4], y = [5,2,6,0])

#### Layout Attribute

In [ ]:
fig.layout.title = "Example 0"
fig.layout.xaxis.title = "x axis"
fig.layout.yaxis.title = "y axis"
fig.show()

In [ ]:
# exploring figure objects
fig.show("json")

In [ ]:
fig.show()

In [ ]:
fig.show(config = {"displaylogo" : False,
                   "modeBarButtonsToAdd" : ["drawrect",
                                            "drawcircle",
                                            "eraseshape"]})

#### Converting figures

In [9]:
# To Html
fig.write_html("html_plot.html",
               config = {"toImageButtonOptions" : {"format" : "svg"}})

In [ ]:
# to images
fig.write_image("apps/images/example_image.svg",
                height = 800, width = 900)

# plotting using real data

In [12]:
# import datasets to use

# we start by using data entry data from year 1

data_entry_team_1 = pd.read_stata(r"data\ipa-data\learning_assessment\data_entry\year1\clean\first_entry\Final Assessment First Entry Clean.dta")
data_entry_team_2 = pd.read_stata(r"data\ipa-data\learning_assessment\data_entry\year1\clean\second_entry\Final Assessment Second Entry Clean.dta")
data_entry_reconciliation = pd.read_stata(r"data\ipa-data\learning_assessment\data_entry\year1\clean\reconciliation\reconciled_clean.dta")

In [13]:
data_entry_team_1.head(6)

,deviceid,devicephonenum,username,device_info,duration,caseid,spv,fo,district,sector,...,kin1marks_p6_kin1p6_kin_q061p6_k,kin1marks_p6_kin1p6_kin_q101p6_k,v453,kin1marks_p5_kin1p5_kin_q141p5_k,submissiondate,starttime,endtime,subdate,enddate,v454
0,E0D3C54C-EFFE-4185-8F00-80D1CE7B79E6,,collect,Apple|iPhone|15.7.5|SurveyCTO Collect 2.80 (27...,180,,Shema Christian,Ndagijimana Samuel,Nyanza,Busoro,...,NaN,NaN,NaN,NaN,2023-08-07 17:02:03,2023-08-07 15:07:01,2023-08-07 15:10:01,2023-08-07,2023-08-07,NaN
1,e9129293624d72e5,,collect,samsung|SM-T225|13|SurveyCTO Collect 2.80.2 (2...,217,,NAHIMANA Reverien,NDABANANIYE David,Musanze,Busogo,...,NaN,NaN,NaN,NaN,2023-07-28 16:33:29,2023-07-28 15:28:16,2023-07-28 15:31:52,2023-07-28,2023-07-28,NaN
2,d73df25fad2cc33b,,collect,samsung|SM-T225|13|SurveyCTO Collect 2.80.2 (2...,575,,Shema Christian,Habonimana Gabriel,Gakenke,Kivuruga,...,NaN,NaN,NaN,NaN,2023-07-24 15:34:11,2023-07-24 09:05:49,2023-07-24 09:15:25,2023-07-24,2023-07-24,NaN
3,d6ee4c5c7759f9a6,,collect,samsung|SM-T290|11|SurveyCTO Collect 2.80 (9b6...,401,,NTAREMBA George,IRASUBIZA Zawadi,Musanze,Gacaca,...,NaN,NaN,NaN,NaN,2023-07-31 11:31:03,2023-07-31 10:53:15,2023-07-31 10:59:56,2023-07-31,2023-07-31,NaN
4,87c4ab681ae1d513,,collect (not yet authenticated),samsung|SM-T505N|10|SurveyCTO Collect 2.80.2 (...,429,,NAHIMANA Reverien,KWIHANGANA Marc,Nyanza,Busoro,...,NaN,NaN,NaN,NaN,2023-08-07 09:32:26,2023-08-07 09:18:01,2023-08-07 09:25:10,2023-08-07,2023-08-07,NaN
5,bf8e848f25c7434a,,collect,samsung|SM-T225|13|SurveyCTO Collect 2.80.2 (2...,138,,NTAREMBA George,Jean Marie Vianney CYUBAHIRO,Gasabo,Jali,...,NaN,NaN,NaN,NaN,2023-08-02 16:17:03,2023-08-02 11:59:08,2023-08-02 12:01:26,2023-08-02,2023-08-02,NaN

In [21]:
data_entry_team_1.dropna(axis=1,how="all").describe(include = [np.number]).T

,count,mean,std,min,25%,50%,75%,max
p1_leg_cwpm_sub1,1667.0,1.094301e+01,9.928665e+00,0.000000e+00,0.000000e+00,1.000000e+01,2.000000e+01,2.700000e+01
p2_leg_cwpm_sub1,1675.0,2.356716e+01,1.297464e+01,0.000000e+00,1.500000e+01,2.500000e+01,3.500000e+01,4.100000e+01
p3_leg_cwpm_sub1,1651.0,3.586978e+01,1.485797e+01,0.000000e+00,2.700000e+01,3.700000e+01,4.700000e+01,5.900000e+01
formdef_version,56906.0,2.402470e+09,2.122712e+07,2.307212e+09,2.407201e+09,2.407201e+09,2.407201e+09,2.407201e+09

In [24]:
data_entry_team_1.dropna(axis=1,how="all").describe(include="all",datetime_is_numeric=True).T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
deviceid,56906,169,4345ef039ad8e2b5,1209,NaN,NaN,NaN,NaN,NaN,NaN,NaN
devicephonenum,56906,5,,55777,NaN,NaN,NaN,NaN,NaN,NaN,NaN
username,56906,5,collect,54311,NaN,NaN,NaN,NaN,NaN,NaN,NaN
device_info,56906,57,samsung|SM-T225|13|SurveyCTO Collect 2.80.2 (2...,36882,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration,56906,1456,201,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
submissiondate,56906,NaN,NaN,NaN,2023-08-02 08:10:02.905159168,2023-07-22 12:42:41,2023-07-27 13:56:55.249999872,2023-08-01 17:32:54,2023-08-07 15:58:51.750000128,2023-08-25 18:56:57,NaN
starttime,56906,NaN,NaN,NaN,2023-08-02 04:46:56.341000704,2023-03-17 02:43:34,2023-07-27 10:05:07,2023-08-01 16:17:46,2023-08-07 13:14:34.249999872,2023-08-25 18:33:15,NaN
endtime,56906,NaN,NaN,NaN,2023-08-02 04:58:39.913945856,2023-07-22 08:27:26,2023-07-27 10:13:17.500000,2023-08-01 16:23:44,2023-08-07 13:19:46.500000,2023-08-25 18:40:53,NaN
subdate,56906,NaN,NaN,NaN,2023-08-01 16:50:58.854953984,2023-07-22 00:00:00,2023-07-27 00:00:00,2023-08-01 00:00:00,2023-08-07 00:00:00,2023-08-25 00:00:00,NaN
enddate,56906,NaN,NaN,NaN,2023-08-01 16:17:57.482163712,2023-07-22 00:00:00,2023-07-27 00:00:00,2023-08-01 00:00:00,2023-08-07 00:00:00,2023-08-25 00:00:00,NaN

In [25]:
data_entry_team_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56906 entries, 0 to 56905
Columns: 456 entries, deviceid to v454
dtypes: category(407), datetime64[ns](5), float64(10), object(34)
memory usage: 43.9+ MB

In [ ]:
data_entry_team_1.info