In [2]:
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Output, Input
import os 
import pandas as pd
import numpy as np
from plotly import graph_objects as go

In [1]:
pwd

'c:\\Users\\HP\\source\\repos\\STARS_dashboard\\stars-dashboard'

In [3]:
os.chdir(r"C:\Users\HP\source\repos\STARS_dashboard")
os.getcwd()

'C:\\Users\\HP\\source\\repos\\STARS_dashboard'

In [2]:
# app instantiation
app = JupyterDash(__name__)

In [4]:
# app layout
app.layout = html.Div([
    dcc.Dropdown(
        options=[{"label" : color,
                 "value" : color }
                 for color in ["blue","green","yellow"]
    ]),
    html.Div()
])

In [ ]:
# run the app
if __name__ == "__main__":
    app.run_server(mode = "inline",port = "3333")

In [ ]:
#using callbacks

# app instantiation
app = JupyterDash(__name__)

# app layout
app.layout = html.Div([
    dcc.Dropdown(id= "color_dropdown",
                 options = [
                    {"label": color, 
                    "value": color}
                    for color in ["Blue","Black", "Green"]
                ]),
    html.Br(),
    html.Div(id="display_dropdown")
])

# callback functions
@app.callback(Output(component_id = "display_dropdown",
                     component_property= "children"),
              Input(component_id = "color_dropdown",
                    component_property = "value"))

def display_selected_color(color):
    if color is None:
        color = "Nothing"
    return "The color is " + color 

# run the app
if __name__ == "__main__":
    app.run_server(mode = "inline", port = 2)

In [ ]:
# app instantiation
app = JupyterDash(__name__)

# information on the activities
timeline = ["first year", "second year"]
short_description = {"first year":"The data collection activities spanned 10 districts while gathering data on 343 schools where 100 schools were in the\
                     control group while 243 schools were in the treatment group",
                     "second year":"489 schools were visited across 10 districts to conduct STARS data collection activities."}

# app layout
app.layout = html.Div([
    dcc.Dropdown(id = "id_dropdown",
                 options = [{"label" : time,
                            "value": time}
                            for time in timeline]),
    html.Br(),
    html.Div(id = "output_dropdown")
])

# callback functions
@app.callback(Output(component_id = "output_dropdown",
                     component_property= "children"),
              Input(component_id = "id_dropdown",
                    component_property = "value"))

def activity_info(timeline):
    if timeline is None:
        return "STARS project is being implemented by Innovation for Poverty Actions in partnership with Georgetown University, MINEDUC, REB, and NESA"
    return [html.H3(timeline), f'For the  {timeline}, {short_description[timeline]}']

# run the app
if __name__ == "__main__":
    app.run_server(mode = "inline", port = 5)

## Working with Plotly's Figure Objects

### Understanding the Figure Object

In [ ]:
go.Figure()

In [ ]:
fig = go.Figure()
fig.add_scatter(x=[1,2,3],y=[4,2,3])
fig.show()

In [ ]:
fig.add_scatter(x = [3,5,2,4], y = [5,2,6,0])

#### Layout Attribute

In [ ]:
fig.layout.title = "Example 0"
fig.layout.xaxis.title = "x axis"
fig.layout.yaxis.title = "y axis"
fig.show()

In [ ]:
# exploring figure objects
fig.show("json")

In [ ]:
fig.show()

In [ ]:
fig.show(config = {"displaylogo" : False,
                   "modeBarButtonsToAdd" : ["drawrect",
                                            "drawcircle",
                                            "eraseshape"]})

#### Converting figures

In [9]:
# To Html
fig.write_html("html_plot.html",
               config = {"toImageButtonOptions" : {"format" : "svg"}})

In [ ]:
# to images
fig.write_image("apps/images/example_image.svg",
                height = 800, width = 900)

# plotting using real data

In [4]:
# import datasets to use

# we start by using data entry data from year 1

data_entry_team_1 = pd.read_stata(r"data\ipa-data\learning_assessment\data_entry\year1\clean\first_entry\Final Assessment First Entry Clean.dta")
data_entry_team_2 = pd.read_stata(r"data\ipa-data\learning_assessment\data_entry\year1\clean\second_entry\Final Assessment Second Entry Clean.dta")
data_entry_reconciliation = pd.read_stata(r"data\ipa-data\learning_assessment\data_entry\year1\clean\reconciliation\reconciled_clean.dta")

In [ ]:
data_entry_team_1.head(5)

In [ ]:
data_entry_team_1.dropna(axis=1,how="all").describe(include = [np.number]).T

In [ ]:
data_entry_team_1.dropna(axis=1,how="all").describe(include="all",datetime_is_numeric=True).T

In [8]:
data_entry_team_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56906 entries, 0 to 56905
Columns: 456 entries, deviceid to v454
dtypes: category(407), datetime64[ns](5), float64(10), object(34)
memory usage: 43.9+ MB

In [5]:
# check columns that are entirely empty
empty_cols = [col for col in data_entry_team_1 if  data_entry_team_1[col].isna().all()]
print(empty_cols)

['kin1marks_p6_kin1p6_kin_q021p6_k', 'kin1marks_p6_kin1p6_kin_q061p6_k', 'kin1marks_p6_kin1p6_kin_q101p6_k', 'v453', 'kin1marks_p5_kin1p5_kin_q141p5_k', 'v454']

In [6]:
#drop empty cols
df_team_1 = data_entry_team_1.copy()
df_team_1 = df_team_1.drop(empty_cols,axis = 1)

# check columns that are entirely empty
empty_cols0 = [col for col in df_team_1 if  df_team_1[col].isna().all()]
print(empty_cols0)

[]

In [7]:
# let's check categorical columns
#cat_cols = [col for col in df_team_1 if df_team_1[col].dtypes.name == "category"]
#print(cat_cols)

cat_cols0 = df_team_1.select_dtypes(["category"]).columns
print(cat_cols0)

Index(['spv', 'fo', 'eng_participation', 'p1_eng_q01_sub1', 'p1_eng_q01_sub2',
       'p1_eng_q02_sub1', 'p1_eng_q02_sub2', 'p1_eng_q02_sub3',
       'p1_eng_q03_sub1', 'p1_eng_q03_sub2',
       ...
       'p2_leg_q01_sub1', 'p2_leg_q02_sub1', 'p2_leg_q03_sub1',
       'p2_leg_q04_sub1', 'p2_leg_q05_sub1', 'p3_leg_q01_sub1',
       'p3_leg_q02_sub1', 'p3_leg_q03_sub1', 'p3_leg_q04_sub1',
       'p3_leg_q05_sub1'],
      dtype='object', length=407)

we have 407 columns that are categorical, this makes sense where, except for svp and fo, the columns represent participation or marks received by students with 3 choices: correct, incorrect, or left blank

In [ ]:
# let's visualize categorical columns
print(df_team_1[cat_cols0])

let's check for one of the categorical columns the choices available:

In [29]:
#print(df_team_1["p1_eng_q02_sub3"].cat.codes.unique())
#print(df_team_1["p1_eng_q02_sub3"].cat.categories.unique())
print(dict(enumerate(df_team_1["p1_eng_q02_sub3"].cat.categories)))
print(dict(enumerate(df_team_1["eng_participation"].cat.categories)))
print(dict(enumerate(df_team_1["spv"].cat.categories)))
print(dict(enumerate(df_team_1["fo"].cat.categories)))

{0: 'Left blank', 1: 'No', 2: 'Yes'}
{0: 'No', 1: 'Yes'}
{0: 'Shema Christian', 1: 'NAHIMANA Reverien   ', 2: 'Havugimana Saidi', 3: 'Uwimana  Pauline', 4: 'NTAREMBA George   ', 5: 'Hatangimana Gisele'}
{0: 'Rushambara Alexis', 1: 'NSHIMIYIMANA PASCAL', 2: 'Habonimana Gabriel', 3: 'Nirere Sandrine', 4: 'NIYIBIZI Leandre', 5: 'UWASE Francine\xa0', 6: 'Uwizeyimana Viateur', 7: 'Rusangwa Adolphe', 8: 'IRADUKUNDA GAHIRE ADOLPHE', 9: 'Ingabire Emelyne', 10: 'MUSHIMIRE Clarisse', 11: 'Mudahogora Placidie', 12: 'TUYISENGE ANICK', 13: 'Bagirishyaka Fulgence', 14: 'Fidele Iragena', 15: 'MUKANKOMEJE  Chantal', 16: 'NABAGIZE JUSTINE', 17: 'NTAWUSIGIRYAYO  Eric ', 18: 'IRAMBONA Valens', 19: 'Shingiro John', 20: 'UMUBYEYI MARIE GRACE', 21: 'MURAGIJIMANA Obadia', 22: 'MASENGESHO Samuel', 23: 'UMUBYEYI Claudine', 24: 'DUFATANYE Devota', 25: 'NSHIMIYIMANA Bernard', 26: 'MUKANSANGA Jacqueline', 27: 'UWIMANA Jeannette', 28: 'NAHAYO Jean Damascene', 29: 'DUSENGUMUREMYI Yvonne', 30: 'NSENGUMUREMYI Felix', 31: 'NDIKUMWENAYO Epimaque', 32: 'DUHAWUMUGISHA Nathan', 33: 'GATETE Fred', 34: 'MUTUYIMANA Josephine', 35: 'KAVAMAHANGA Lambert', 36: 'AENGAMIYE RWABUKWISI Smith Eugene', 37: 'HABARUREMA Jean Paul', 38: 'INGABIRE Marie Grace', 39: 'TUYISHIME Clementine', 40: 'HABIYAREMYE Aimable', 41: 'BITEGETSIMANA Samuel', 42: 'MUGISHA David', 43: 'Mwungura Ntagawa', 44: 'Niyonsaba Jean Pierre', 45: 'Nsengimana Joseph', 46: 'NSENGIYUMVA  Innocent', 47: 'TUYISINGIZE Nepomuscene', 48: 'Nshimiyimana Jean Marie vianney', 49: 'Umuhire  Jerome', 50: 'Hakizimana Emmy', 51: 'Masa Mutuyeyezu Redampta', 52: 'Mukarunyana Anysie', 53: 'Mukashumbusho Jeannette', 54: 'Ndayambaje Patrick', 55: 'RUBANDA Fidel', 56: 'Niyitegeka Moise', 57: 'Nzayinambaho  Ange Bernard', 58: 'Ruzindana Frank', 59: 'Muhire Emmanuel', 60: 'TUYISHIMIRE Marie Claire', 61: 'Alyppe KUBWAYO', 62: 'AMINA URWIBUTSO', 63: 'Amos KADENDE', 64: 'Annoncee Uwimana Nyandwi', 65: 'Antoine NZAYISENGA', 66: 'Aphrodis UKURIKIYEYEZU', 67: 'BIENVENUE Marie Claire', 68: 'Byarugaba J.de Dieu', 69: 'chantal umutesi', 70: 'Charlotte Umwali', 71: 'Mvuyekure wellars', 72: 'Desire MUTWARE', 73: 'DUSABIMANA Angelique', 74: 'Edith Muragijimana', 75: 'Egide TUBISABIMANA', 76: 'Emile JABO', 77: 'Emmanuel KANANI', 78: 'Emmanuel MANIRAFASHA', 79: 'Emmanuel NSENGIMANA', 80: 'Ephrem NKUNZABO', 81: 'Fidele MUTUYIMANA', 82: 'Fidele NIKUZE', 83: 'FLORENT NSABIMANA', 84: 'Georgie UWAMBAJIMANA', 85: 'Grace NISHIMWE', 86: 'HABIMANA MUSSA', 87: 'IMANANTIYANDETSE Marc', 88: 'IMANISHIMWE Djarudi Djarudi', 89: 'IRASUBIZA Zawadi', 90: 'ISABELLE musabyemariya', 91: 'Ismael DUSENGIMANA', 92: 'Jackson DUKUZEMUNGU', 93: 'Janvier NZANYWAYIMANA', 94: 'Jean Baptiste MUSHIMIYIMANA', 95: 'JEAN BAPTISTE NIYOYITA', 96: 'Jean Bosco Twagirimana', 97: 'Jean Damascene Mbwirabumva', 98: 'Jean de Dieu Safari', 99: 'Jean Marie Vianney CYUBAHIRO', 100: 'Jonathan Habineza', 101: 'Joseline Nisingizwe', 102: 'Kuradusenge Janvier', 103: 'KWIHANGANA Marc', 104: 'Kwizera Emmanuel', 105: 'Maniraho Maurice', 106: 'MANISHIMWE Samuel', 107: 'Mukarubayiza Triphine', 108: 'MUSANABOSE Yves', 109: 'NDABANANIYE David', 110: 'Ndagijimana Samuel', 111: 'Noah KURAMA', 112: 'Robert Muganga', 113: 'Sandrine MAHORO', 114: 'Solange Uwilingiyimana', 115: 'Sylvestre MUSENGIMANA', 116: 'Theoneste Maniraguha', 117: 'UTAZIRUBANDA NOEL Roudge', 118: 'UWANYIRIGIRA Claire', 119: 'Valentine NIYITEGEKA', 120: 'Victor MUGWANEZA', 121: 'INGABIRE Innocent', 122: 'Asiimwe Samuel', 123: 'Musabirema  Dominique', 124: 'Kampire Docile', 125: 'Alice Uwiduhaye', 126: 'Hakuzimana  Edouard', 127: 'Olivier NGWIJE', 128: 'Giraneza Claudine', 129: 'MANIRABARUTA Marie Claire  ', 130: 'SIBOMANA Jean Damascene', 131: 'Karanganwa Anthony', 132: 'Niyonzima Simeon', 133: 'Uwizeye Alphonse', 134: 'Mukangwije Ancille', 135: 2500922, 136: 'Mukeshimana  Theogene', 137: 'Iribagiza Annette', 138: 'NISHIMWE Denise Amelie', 139: 'MUKANTAGANDA Liberatha   ', 140: 'MWIZA Florence', 141: 'Nakure Marie Aimee'}

In [8]:
enumerators = dict(enumerate(df_team_1["fo"].cat.categories))
enumerators = pd.DataFrame(enumerators.items(),columns=["codes", "names"])
enumerators.head(20)

    codes                      names
0       0          Rushambara Alexis
1       1        NSHIMIYIMANA PASCAL
2       2         Habonimana Gabriel
3       3            Nirere Sandrine
4       4           NIYIBIZI Leandre
5       5            UWASE FrancineÂ
6       6        Uwizeyimana Viateur
7       7           Rusangwa Adolphe
8       8  IRADUKUNDA GAHIRE ADOLPHE
9       9           Ingabire Emelyne
10     10         MUSHIMIRE Clarisse
11     11        Mudahogora Placidie
12     12            TUYISENGE ANICK
13     13      Bagirishyaka Fulgence
14     14             Fidele Iragena
15     15       MUKANKOMEJE  Chantal
16     16           NABAGIZE JUSTINE
17     17      NTAWUSIGIRYAYO  Eric
18     18            IRAMBONA Valens
19     19              Shingiro John

In [9]:
#we are going to convert categorical variables to their numeric values
df_team_1[cat_cols0] = df_team_1[cat_cols0].apply(lambda x: x.cat.codes)
#check the results
print(df_team_1.select_dtypes(["category"]).columns)
print(df_team_1["p1_eng_q02_sub3"].unique())
print(df_team_1["eng_participation"].unique())
print(df_team_1["spv"].unique())
print(df_team_1["fo"].unique())

Index([], dtype='object')
[-1  2  1  0]
[ 1  0 -1]
[0 1 4 2 5 3]
[110 109   2  89 103  99  36 112  13  98   5 137  40  48 119  26   8 140
 105  76  42  74  14  59  71 134  91 127  17   4  95  37 116 128  31  52
  61 121  51  96  77 102  54  55 122  97 113 139  21 136  35  62  90 108
  85 124  79  49  75 138  33  86  68  83 126  64  28  44  30  81   6  88
  23  41  11 107  67  65 120 100  15 123  34  10  43  47  57  94   9   3
  12  50  70  22  69 131 125 101  20  38  87  16  73  63  92   7 133  46
  45 104  80  78  84 114  32   0  72  66  53 117 130 118  24  93  18 106
  82  39  27  60 129 141  19  56  29  58 115   1 111 132  25 135]

In [37]:
df_team_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56906 entries, 0 to 56905
Columns: 450 entries, deviceid to enddate
dtypes: datetime64[ns](5), float64(4), int16(1), int8(406), object(34)
memory usage: 41.2+ MB

we have successfully converted categorical variables to numeric variables

In [10]:
#check object type variables
object_cols = df_team_1.select_dtypes(["object"]).columns
print(object_cols)

Index(['deviceid', 'devicephonenum', 'username', 'device_info', 'duration',
       'caseid', 'district', 'sector', 'school', 'grade', 'student_code',
       'student_code_other', 'student_code_name', 'time_check_eng_1',
       'time_check_eng_2', 'time_check_eng_3', 'time_check_eng_4',
       'time_check_eng_5', 'time_check_eng_6', 'time_check_math_1',
       'time_check_math_2', 'time_check_math_3', 'time_check_math_4',
       'time_check_math_5', 'time_check_math_6', 'time_check_kiny_4',
       'time_check_kiny_5', 'time_check_kiny_6', 'time_check_kiny_1',
       'time_check_kiny_2', 'time_check_kiny_3', 'time_check_end',
       'instancename', 'key'],
      dtype='object')

In [ ]:
# let's view the object type variables
df_team_1[object_cols].head()

In [19]:
#drop unuseful columns
df_team_1 = df_team_1.drop(['deviceid', 'devicephonenum', 'username', 'caseid','device_info','instancename', 'key'], axis=1)

In [20]:
#check object type variables again
object_cols0 = df_team_1.select_dtypes(["object"]).columns
print(object_cols0)

Index(['duration', 'district', 'sector', 'school', 'grade', 'student_code',
       'student_code_other', 'student_code_name', 'time_check_eng_1',
       'time_check_eng_2', 'time_check_eng_3', 'time_check_eng_4',
       'time_check_eng_5', 'time_check_eng_6', 'time_check_math_1',
       'time_check_math_2', 'time_check_math_3', 'time_check_math_4',
       'time_check_math_5', 'time_check_math_6', 'time_check_kiny_4',
       'time_check_kiny_5', 'time_check_kiny_6', 'time_check_kiny_1',
       'time_check_kiny_2', 'time_check_kiny_3', 'time_check_end',
       'student_code_unsure'],
      dtype='object')

In [ ]:
print(df_team_1["school"].unique())

In [ ]:
print(df_team_1["student_code"].unique())
print(df_team_1["student_code_name"].unique())
print(df_team_1["student_code_other"].unique())
print(df_team_1["time_check_eng_1"].unique())
print(df_team_1["time_check_end"].unique())

In [ ]:
df_team_1[["student_code","student_code_other"]][df_team_1["student_code_other"]!="."]

In [53]:
df_team_1["student_code_other"][41] == df_team_1["student_code"][41]

True

In [21]:
#Assigning values to student_code_other based on student_code variable
df_team_1.loc[df_team_1["student_code_other"] == df_team_1["student_code"], "student_code_other"] = "."
print(df_team_1.student_code_other.unique())

['.' '-555' '555' '540712210384' '21108002025' '555555555555'
 '510712002010' '540712210425' '421807055001' '4305061550' '5707122003003'
 '4211020003025' '211001230088' '421102210191' '42111204027'
 '320028002001']

In [ ]:
df_team_1.loc[df_team_1["student_code_other"] != ".", ["student_code","student_code_other"]]

In [17]:
df_team_1.loc[df_team_1["student_code_other"] != ".", "student_code_other"].unique()

array(['-555', '555', '540712210384', '21108002025', '555555555555',
       '510712002010', '540712210425', '421807055001', '4305061550',
       '5707122003003', '4211020003025', '211001230088', '421102210191',
       '42111204027', '320028002001'], dtype=object)

In [ ]:
df_team_1.loc[df_team_1["student_code_other"].isin(['540712210384', '21108002025',
       '510712002010', '540712210425', '421807055001', '4305061550',
       '5707122003003', '4211020003025', '211001230088', '421102210191',
       '42111204027', '320028002001']), ["student_code","student_code_other"]]

let's create a column that will help us track these inconsistencies

In [22]:
df_team_1["student_code_unsure"] = np.where(df_team_1["student_code_other"].isin(['540712210384', '21108002025',
       '510712002010', '540712210425', '421807055001', '4305061550',
       '5707122003003', '4211020003025', '211001230088', '421102210191',
       '42111204027', '320028002001']),"flagged","passed")

In [16]:
print(df_team_1["student_code_unsure"].value_counts())

passed     56894
flagged       12
Name: student_code_unsure, dtype: int64

In [16]:
# check if student_code column is unique and doesn't have duplicates
df_team_1["student_code"].is_unique

False

It seems like we have duplicates in the student code variable.
Let us count how many duplicates we have

In [17]:
# check how many dups we have
df_team_1["student_code"].duplicated().sum()

451

we have around 451 duplicates

In [ ]:
#let us view the duplicates
df_team_1[df_team_1["student_code"].isin(df_team_1["student_code"][df_team_1["student_code"].duplicated()])].sort_values(["student_code","submissiondate"])

In [23]:
df_team_1_unique = df_team_1.sort_values(["student_code","submissiondate"]).drop_duplicates("student_code",keep="last")
# check how many dups we have
print(df_team_1_unique["student_code"].duplicated().sum())

0

Now that we have treated student_code duplicates, we can move on with our feature cleaning activities

In [24]:
#changing column types to numeric, Datetime, and string

#numeric
df_team_1_unique[["duration","school","student_code"]] = df_team_1_unique[["duration","school","student_code"]].apply(pd.to_numeric)

In [25]:
#datetime
# select columns that starts with time_check
time_cols = [col for col in df_team_1_unique if col.startswith("time_check")]

df_team_1_unique[time_cols] = df_team_1_unique[time_cols].apply(pd.to_datetime)

In [ ]:
# Let us look at how the datetime transformation was executed
df_team_1_unique[time_cols]

In [24]:
# let's check how many object type columns are left
print(df_team_1_unique.select_dtypes("object").columns)

Index(['district', 'sector', 'grade', 'student_code_other',
       'student_code_name', 'student_code_unsure'],
      dtype='object')

In [26]:
# first we drop unwanted columns
unwanted_cols = ['student_code_other', 'student_code_name']
df_team_1_unique = df_team_1_unique.drop(unwanted_cols, axis=1)

In [27]:
# string
string_cols = ['district', 'sector', 'grade', 'student_code_unsure']

df_team_1_unique[string_cols] = df_team_1_unique[string_cols].apply(lambda col: col.map(repr)) #interesting
print(df_team_1_unique[string_cols].head())

         district        sector grade student_code_unsure
41776  'Kicukiro'     'Gikondo'  'P2'            'passed'
32697  'Kicukiro'     'Kanombe'  'P3'            'passed'
26680  'Kicukiro'    'Kigarama'  'P6'            'passed'
26635    'Gasabo'    'Rusororo'  'P5'            'passed'
28737  'Kicukiro'  'Nyarugunga'  'P3'            'passed'

In [ ]:
# let's check how many object type columns are left
print(df_team_1_unique.select_dtypes("object").columns)

It turns out that string columns are represented as object type!
we can now move on to the next stage in our data cleaning/engineering process

In [28]:
# Let's view the columns we have in our dataset
columns_df = df_team_1_unique.columns
print(*columns_df)

duration spv fo district sector school grade student_code eng_participation time_check_eng_1 p1_eng_q01_sub1 p1_eng_q01_sub2 p1_eng_q02_sub1 p1_eng_q02_sub2 p1_eng_q02_sub3 p1_eng_q03_sub1 p1_eng_q03_sub2 p1_eng_q03_sub3 p1_eng_q04_sub1 p1_eng_q04_sub2 p1_eng_q04_sub3 p1_eng_q05_sub1 p1_eng_q05_sub2 p1_eng_q05_sub3 p1_eng_q05_sub4 p1_eng_q05_sub5 p1_eng_q06_sub1 p1_eng_q06_sub2 p1_eng_q06_sub3 p1_eng_q07_sub1 p1_eng_q07_sub2 p1_eng_q07_sub3 p1_eng_q08_sub1 p1_eng_q08_sub2 p1_eng_q08_sub3 time_check_eng_2 p2_eng_q01_sub1 p2_eng_q01_sub2 p2_eng_q01_sub3 p2_eng_q01_sub4 p2_eng_q02_sub1 p2_eng_q02_sub2 p2_eng_q02_sub3 p2_eng_q03_sub1 p2_eng_q04_sub1 p2_eng_q05_sub1 p2_eng_q06_sub1 p2_eng_q07_sub1 p2_eng_q07_sub2 p2_eng_q08_sub1 p2_eng_q08_sub2 p2_eng_q08_sub3 p2_eng_q09_sub1 p2_eng_q09_sub2 p2_eng_q09_sub3 p2_eng_q10_sub1 p2_eng_q10_sub2 p2_eng_q10_sub3 p2_eng_q10_sub4 p2_eng_q11_sub1 time_check_eng_3 p3_eng_q01_sub1 p3_eng_q01_sub2 p3_eng_q02_sub1 p3_eng_q03_sub1 p3_eng_q04_sub1 p3_eng_q04_sub2 p3_eng_q04_sub3 p3_eng_q04_sub4 p3_eng_q05_sub1 p3_eng_q05_sub2 p3_eng_q05_sub3 p3_eng_q06_sub1 p3_eng_q06_sub2 p3_eng_q06_sub3 p3_eng_q07_sub1 p3_eng_q07_sub2 p3_eng_q08_sub1 p3_eng_q08_sub2 p3_eng_q09_sub1 p3_eng_q09_sub2 p3_eng_q10_sub1 p3_eng_q10_sub2 p3_eng_q11_sub1 p3_eng_q12_sub1 p3_eng_q13_sub1 time_check_eng_4 p4_eng_q01_sub1 p4_eng_q01_sub2 p4_eng_q01_sub3 p4_eng_q01_sub4 p4_eng_q02_sub1 p4_eng_q03_sub1 p4_eng_q03_sub2 p4_eng_q03_sub3 p4_eng_q03_sub4 p4_eng_q03_sub5 p4_eng_q04_sub1 p4_eng_q04_sub2 p4_eng_q04_sub3 p4_eng_q04_sub4 p4_eng_q04_sub5 p4_eng_q05_sub1 p4_eng_q05_sub2 p4_eng_q05_sub3 p4_eng_q05_sub4 p4_eng_q06_sub1 p4_eng_q07_sub1 p4_eng_q07_sub2 p4_eng_q07_sub3 p4_eng_q08_sub1 p4_eng_q08_sub2 p4_eng_q08_sub3 p4_eng_q09_sub1 p4_eng_q10_sub1 time_check_eng_5 p5_eng_q01_sub1 p5_eng_q01_sub2 p5_eng_q02_sub1 p5_eng_q02_sub2 p5_eng_q02_sub3 p5_eng_q03_sub1 p5_eng_q03_sub2 p5_eng_q03_sub3 p5_eng_q03_sub4 p5_eng_q03_sub5 p5_eng_q04_sub1 p5_eng_q04_sub2 p5_eng_q04_sub3 p5_eng_q05_sub1 p5_eng_q06_sub1 p5_eng_q06_sub2 p5_eng_q06_sub3 p5_eng_q06_sub4 p5_eng_q07_sub1 p5_eng_q07_sub2 p5_eng_q08_sub1 p5_eng_q08_sub2 p5_eng_q08_sub3 p5_eng_q08_sub4 p5_eng_q08_sub5 time_check_eng_6 p6_eng_q01_sub1 p6_eng_q01_sub2 p6_eng_q01_sub3 p6_eng_q02_sub1 p6_eng_q03_sub1 p6_eng_q04_sub1 p6_eng_q04_sub2 p6_eng_q04_sub3 p6_eng_q04_sub4 p6_eng_q05_sub1 p6_eng_q05_sub2 p6_eng_q05_sub3 p6_eng_q05_sub4 p6_eng_q05_sub5 p6_eng_q06_sub1 p6_eng_q06_sub2 p6_eng_q06_sub3 p6_eng_q06_sub4 p6_eng_q06_sub5 p6_eng_q07_sub1 p6_eng_q07_sub2 p6_eng_q08_sub1 p6_eng_q09_sub1 p6_eng_q10_sub1 p6_eng_q11_sub1 mat_participation time_check_math_1 p1_mat_q01_sub1 p1_mat_q01_sub2 p1_mat_q02_sub1 p1_mat_q02_sub2 p1_mat_q02_sub3 p1_mat_q02_sub4 p1_mat_q03_sub1 p1_mat_q04_sub1 p1_mat_q04_sub2 p1_mat_q05_sub1 p1_mat_q06_sub1 p1_mat_q06_sub2 p1_mat_q06_sub3 p1_mat_q07_sub1 p1_mat_q08_sub1 p1_mat_q08_sub2 p1_mat_q09_sub1 p1_mat_q10_sub1 p1_mat_q11_sub1 p1_mat_q12_sub1 p1_mat_q12_sub2 time_check_math_2 p2_mat_q01_sub1 p2_mat_q02_sub1 p2_mat_q02_sub2 p2_mat_q02_sub3 p2_mat_q03_sub1 p2_mat_q03_sub2 p2_mat_q04_sub1 p2_mat_q04_sub2 p2_mat_q05_sub1 p2_mat_q05_sub2 p2_mat_q06_sub1 p2_mat_q06_sub2 p2_mat_q06_sub3 p2_mat_q06_sub4 p2_mat_q07_sub1 p2_mat_q08_sub1 p2_mat_q09_sub1 p2_mat_q09_sub2 p2_mat_q10_sub1 p2_mat_q10_sub2 p2_mat_q10_sub3 p2_mat_q10_sub4 time_check_math_3 p3_mat_q01_sub1 p3_mat_q01_sub2 p3_mat_q01_sub3 p3_mat_q01_sub4 p3_mat_q02_sub1 p3_mat_q02_sub2 p3_mat_q03_sub1 p3_mat_q04_sub1 p3_mat_q04_sub2 p3_mat_q05_sub1 p3_mat_q05_sub2 p3_mat_q06_sub1 p3_mat_q06_sub2 p3_mat_q07_sub1 p3_mat_q08_sub1 p3_mat_q09_sub1 p3_mat_q09_sub2 p3_mat_q10_sub1 p3_mat_q10_sub2 p3_mat_q11_sub1 p3_mat_q11_sub2 p3_mat_q11_sub3 p3_mat_q12_sub1 p3_mat_q12_sub2 time_check_math_4 p4_mat_q01_sub1_1 p4_mat_q01_sub1_2 p4_mat_q01_sub1_3 p4_mat_q01_sub2 p4_mat_q01_sub3 p4_mat_q02_sub1 p4_mat_q02_sub2 p4_mat_q03_sub1 p4_mat_q04_sub1 p4_mat_q04_sub2 p4_mat_q05_sub1 p4_mat_q05_sub2 p4_mat_q05_sub3 p4_mat_q06_sub1 p4_mat_q06_sub2 p4_mat_q07_sub1 p4_mat_q07_sub2 p4_mat_q08_sub1 p4_mat_q09_sub1 p4_mat_q10_sub1 p4_mat_q11_sub1 p4_mat_q11_sub2 p4_mat_q11_sub3 p4_mat_q11_sub4 p4_mat_q12_sub1 p4_mat_q12_sub2 time_check_math_5 p5_mat_q01_sub1_1 p5_mat_q01_sub1_2 p5_mat_q01_sub1_3 p5_mat_q01_sub2 p5_mat_q01_sub3 p5_mat_q02_sub1 p5_mat_q02_sub2 p5_mat_q03_sub1 p5_mat_q04_sub1 p5_mat_q04_sub2 p5_mat_q05_sub1 p5_mat_q05_sub2 p5_mat_q06_sub1 p5_mat_q07_sub1 p5_mat_q08_sub1 p5_mat_q09_sub1 p5_mat_q10_sub1 p5_mat_q11_sub1 p5_mat_q11_sub2 p5_mat_q12_sub1 p5_mat_q13_sub1_1 p5_mat_q13_sub1_2 p5_mat_q13_sub1_3 p5_mat_q13_sub2 p5_mat_q14_sub1 p5_mat_q14_sub2 p5_mat_q15_sub1 p5_mat_q15_sub2 p5_mat_q16_sub1 time_check_math_6 p6_mat_q01_sub1 p6_mat_q01_sub2 p6_mat_q02_sub1_1 p6_mat_q02_sub1_2 p6_mat_q02_sub1_3 p6_mat_q02_sub1_4 p6_mat_q02_sub2 p6_mat_q02_sub3 p6_mat_q03_sub1_1 p6_mat_q03_sub1_2 p6_mat_q03_sub2_1 p6_mat_q03_sub2_2 p6_mat_q04_sub1 p6_mat_q04_sub2 p6_mat_q05_sub1 p6_mat_q05_sub2 p6_mat_q05_sub3_1 p6_mat_q05_sub3_2 p6_mat_q05_sub4_1 p6_mat_q05_sub4_2 p6_mat_q06_sub1 p6_mat_q07_sub1 p6_mat_q07_sub2 p6_mat_q08_sub1 p6_mat_q08_sub2 p6_mat_q09_sub1 p6_mat_q10_sub1 p6_mat_q11_sub1 kiny_participation time_check_kiny_4 p4_kin_q01_sub1 p4_kin_q01_sub2 p4_kin_q02_sub1 p4_kin_q03_sub1_1 p4_kin_q03_sub1_2 p4_kin_q03_sub2 p4_kin_q04_sub1 p4_kin_q04_sub2 p4_kin_q04_sub3 p4_kin_q05_sub1 p4_kin_q05_sub2 p4_kin_q05_sub3 p4_kin_q06_sub1 p4_kin_q06_sub2 p4_kin_q07_sub1 p4_kin_q08_sub1 p4_kin_q08_sub2 p4_kin_q08_sub3 p4_kin_q08_sub4 p4_kin_q08_sub5 p4_kin_q09_sub1_1 p4_kin_q09_sub1_2 p4_kin_q09_sub1_3 p4_kin_q10_sub1 p4_kin_q11_sub1 p4_kin_q12_sub1 p4_kin_q12_sub2 time_check_kiny_5 p5_kin_q01_sub1_1 p5_kin_q01_sub1_2 p5_kin_q02_sub1 p5_kin_q03_sub1_1 p5_kin_q03_sub1_2 p5_kin_q04_sub1 p5_kin_q05_sub1 p5_kin_q05_sub2 p5_kin_q05_sub3 p5_kin_q06_sub1_1 p5_kin_q06_sub1_2 p5_kin_q06_sub2_1 p5_kin_q06_sub2_2 p5_kin_q07_sub1 p5_kin_q07_sub2 p5_kin_q08_sub1 p5_kin_q08_sub2 p5_kin_q09_sub1 p5_kin_q10_sub1 p5_kin_q11_sub1 p5_kin_q12_sub1 p5_kin_q12_sub2 p5_kin_q13_sub1 p5_kin_q14_sub1_1 p5_kin_q14_sub1_2 p5_kin_q15_sub1 time_check_kiny_6 p6_kin_q01_sub1 p6_kin_q01_sub2 p6_kin_q02_sub1_1 p6_kin_q02_sub1_2 p6_kin_q03_sub1_1 p6_kin_q03_sub1_2 p6_kin_q03_sub1_3 p6_kin_q04_sub1 p6_kin_q04_sub2 p6_kin_q04_sub3 p6_kin_q05_sub1 p6_kin_q05_sub2 p6_kin_q05_sub3 p6_kin_q05_sub4 p6_kin_q05_sub5 p6_kin_q06_sub1_1 p6_kin_q06_sub1_2 p6_kin_q06_sub2_1 p6_kin_q06_sub2_2 p6_kin_q06_sub2_3 p6_kin_q07_sub1 p6_kin_q07_sub2 p6_kin_q07_sub3 p6_kin_q08_sub1 p6_kin_q08_sub2 p6_kin_q09_sub1_1 p6_kin_q09_sub1_2 p6_kin_q10_sub1_1 p6_kin_q10_sub1_2 p6_kin_q10_sub2_1 p6_kin_q10_sub2_2 legra_participation time_check_kiny_1 p1_leg_cwpm_sub1 p1_leg_q01_sub1 p1_leg_q02_sub1 p1_leg_q03_sub1 p1_leg_q04_sub1 p1_leg_q05_sub1 time_check_kiny_2 p2_leg_cwpm_sub1 p2_leg_q01_sub1 p2_leg_q02_sub1 p2_leg_q03_sub1 p2_leg_q04_sub1 p2_leg_q05_sub1 time_check_kiny_3 p3_leg_cwpm_sub1 p3_leg_q01_sub1 p3_leg_q02_sub1 p3_leg_q03_sub1 p3_leg_q04_sub1 p3_leg_q05_sub1 time_check_end formdef_version submissiondate starttime endtime subdate enddate student_code_unsure

We are going to remove columns that are not important for the following steps

In [29]:
cols_remove = ['formdef_version',  'submissiondate', 'starttime', 'endtime',  'enddate']
df_long_1 = df_team_1_unique.copy()
df_long_1 = df_long_1.drop(cols_remove,axis=1)

##### Reshaping the dataset from Wide to Long

In [30]:
# from wide to long
timing_cols = [col for col in df_long_1 if col.startswith("time_check")]
time_math = [col for col in df_long_1 if col.startswith("time_check_math")]
time_eng = [col for col in df_long_1 if col.startswith("time_check_eng")]
time_kiny = [col for col in df_long_1 if col.startswith("time_check_kiny")]
id_variables = ['duration', 'spv', 'fo', 'district', 'sector', 'school', 'grade', 
                   'student_code', 'subdate', 'student_code_unsure'] + timing_cols
df_long_1 = pd.melt(df_long_1, id_vars= id_variables, 
                   var_name="questions", value_name="answers").reset_index()

In [31]:
# subset data that we can use to compare with team 2 data to check for discrepancies
df_long_sub_1 = df_long_1.drop(timing_cols + ["index","duration"], axis=1)
print(df_long_sub_1.columns)

Index(['spv', 'fo', 'district', 'sector', 'school', 'grade', 'student_code',
       'subdate', 'student_code_unsure', 'questions', 'answers'],
      dtype='object')

In [32]:
# setting global path
path_learnassess_year1 = "data/ipa-data/learning_assessment/data_entry/year1/clean"

In [33]:
# let's save the current dataset for future reference
df_long_sub_1.to_csv(f'{path_learnassess_year1}/first_entry/first_data_long_sub.csv',index=False)

We are now going to go thru the process for the second entry dataset

In [34]:
data_entry_team_2.head()

,deviceid,devicephonenum,username,device_info,duration,caseid,spv,fo,district,sector,...,kin1marks_p6_kin1p6_kin_q021p6_k,kin1marks_p6_kin1p6_kin_q061p6_k,kin1marks_p6_kin1p6_kin_q101p6_k,v454,submissiondate,starttime,endtime,subdate,enddate,v453
0,04ff4e9b544ef4f3,,collect,samsung|SM-T225|13|SurveyCTO Collect 2.80.2 (2...,685,,Uwimana Pauline,Rushambara Alexis,Gatsibo,Muhura,...,NaN,NaN,NaN,NaN,2023-07-22 18:06:12,2023-07-22 14:29:07,2023-07-22 14:40:32,2023-07-22,2023-07-22,NaN
1,82e7dd08ca164eed,,collect,TECNO|TECNO KC8|10|SurveyCTO Collect 2.80.2 (2...,354,,Havugimana Saidi,Rusangwa Adolphe,Gakenke,Nemba,...,NaN,NaN,NaN,NaN,2023-07-24 17:57:22,2023-07-24 15:35:32,2023-07-24 15:41:26,2023-07-24,2023-07-24,NaN
2,90d67cc0f52bca6a,,collect,samsung|SM-T225|13|SurveyCTO Collect 2.80.2 (2...,203,,Havugimana Saidi,Alice Uwiduhaye,Huye,Ruhashya,...,NaN,NaN,NaN,NaN,2023-07-31 14:55:18,2023-07-31 12:14:17,2023-07-31 12:17:40,2023-07-31,2023-07-31,NaN
3,fef81386406b2650,,collect,samsung|SM-T225|13|SurveyCTO Collect 2.80.2 (2...,1279,,Havugimana Saidi,Sandrine MAHORO,Gakenke,Kivuruga,...,NaN,NaN,NaN,NaN,2023-07-24 07:42:06,2023-07-22 13:36:34,2023-07-22 13:58:30,2023-07-24,2023-07-22,NaN
4,1dd6117f9ca5748e,,collect,samsung|SM-T225|13|SurveyCTO Collect 2.80.2 (2...,951,,Havugimana Saidi,DUSABIMANA Angelique,Gakenke,Kivuruga,...,NaN,NaN,NaN,NaN,2023-07-24 07:38:17,2023-07-22 15:03:35,2023-07-22 15:19:41,2023-07-24,2023-07-22,NaN

In [35]:
data_entry_team_2.dropna(axis=1,how='all').describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
p1_leg_cwpm_sub1,1680.0,1.100536e+01,9.915094e+00,0.000000e+00,0.000000e+00,1.000000e+01,2.000000e+01,2.700000e+01
p2_leg_cwpm_sub1,1712.0,2.364194e+01,1.288926e+01,0.000000e+00,1.600000e+01,2.500000e+01,3.500000e+01,4.100000e+01
p3_leg_cwpm_sub1,1647.0,3.568124e+01,1.478525e+01,0.000000e+00,2.700000e+01,3.600000e+01,4.700000e+01,5.900000e+01
formdef_version,57431.0,2.402221e+09,2.175086e+07,2.307211e+09,2.407201e+09,2.407201e+09,2.407201e+09,2.407201e+09

In [36]:
data_entry_team_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57431 entries, 0 to 57430
Columns: 456 entries, deviceid to v453
dtypes: category(407), datetime64[ns](5), float64(10), object(34)
memory usage: 44.3+ MB

In [37]:
# check columns that are entirely empty
empty_cols_2 = [col for col in data_entry_team_2 if  data_entry_team_2[col].isna().all()]
print(empty_cols)

#drop empty cols
df_team_2 = data_entry_team_2.copy()
df_team_2 = df_team_2.drop(empty_cols,axis = 1)

# check columns that are entirely empty
empty_cols_20 = [col for col in df_team_2 if  df_team_2[col].isna().all()]
print(empty_cols_20)

['kin1marks_p6_kin1p6_kin_q021p6_k', 'kin1marks_p6_kin1p6_kin_q061p6_k', 'kin1marks_p6_kin1p6_kin_q101p6_k', 'v453', 'kin1marks_p5_kin1p5_kin_q141p5_k', 'v454']
[]

In [38]:
# let's check categorical columns
cat_cols0 = df_team_2.select_dtypes(["category"]).columns
print(cat_cols0)

Index(['spv', 'fo', 'eng_participation', 'p1_eng_q01_sub1', 'p1_eng_q01_sub2',
       'p1_eng_q02_sub1', 'p1_eng_q02_sub2', 'p1_eng_q02_sub3',
       'p1_eng_q03_sub1', 'p1_eng_q03_sub2',
       ...
       'p2_leg_q01_sub1', 'p2_leg_q02_sub1', 'p2_leg_q03_sub1',
       'p2_leg_q04_sub1', 'p2_leg_q05_sub1', 'p3_leg_q01_sub1',
       'p3_leg_q02_sub1', 'p3_leg_q03_sub1', 'p3_leg_q04_sub1',
       'p3_leg_q05_sub1'],
      dtype='object', length=407)

In [39]:
#let's check for one of the categorical columns the choices available:
print(dict(enumerate(df_team_2["p1_eng_q02_sub3"].cat.categories)))
print(dict(enumerate(df_team_2["eng_participation"].cat.categories)))
print(dict(enumerate(df_team_2["spv"].cat.categories)))
print(dict(enumerate(df_team_2["fo"].cat.categories)))

{0: 'Left blank', 1: 'No', 2: 'Yes'}
{0: 'No', 1: 'Yes'}
{0: 'Shema Christian', 1: 'NAHIMANA Reverien   ', 2: 'Havugimana Saidi', 3: 'Uwimana  Pauline', 4: 'NTAREMBA George   ', 5: 'Hatangimana Gisele'}
{0: 'Musabeyezu Noella ', 1: 'Rushambara Alexis', 2: 'NSHIMIYIMANA PASCAL', 3: 'Habonimana Gabriel', 4: 'Nirere Sandrine', 5: 'NIYIBIZI Leandre', 6: 'UWASE Francine\xa0', 7: 'Uwizeyimana Viateur', 8: 'Rusangwa Adolphe', 9: 'IRADUKUNDA GAHIRE ADOLPHE', 10: 'Ingabire Emelyne', 11: 'MUSHIMIRE Clarisse', 12: 'TUYISENGE ANICK', 13: 'Bagirishyaka Fulgence', 14: 'Fidele Iragena', 15: 'MUKANKOMEJE  Chantal', 16: 'NABAGIZE JUSTINE', 17: 'NTAWUSIGIRYAYO  Eric ', 18: 'IRAMBONA Valens', 19: 'Shingiro John', 20: 'UMUBYEYI MARIE GRACE', 21: 'MURAGIJIMANA Obadia', 22: 'UMUBYEYI Claudine', 23: 'DUFATANYE Devota', 24: 'NSHIMIYIMANA Bernard', 25: 'MUKANSANGA Jacqueline', 26: 'UWIMANA Jeannette', 27: 'NAHAYO Jean Damascene', 28: 'DUSENGUMUREMYI Yvonne', 29: 'NDIKUMWENAYO Epimaque', 30: 'DUHAWUMUGISHA Nathan', 31: 'GATETE Fred', 32: 'MUTUYIMANA Josephine', 33: 'KAVAMAHANGA Lambert', 34: 'AENGAMIYE RWABUKWISI Smith Eugene', 35: 'HABARUREMA Jean Paul', 36: 'INGABIRE Marie Grace', 37: 'TUYISHIME Clementine', 38: 'HABIYAREMYE Aimable', 39: 'BITEGETSIMANA Samuel', 40: 'MUGISHA David', 41: 'Mwungura Ntagawa', 42: 'Niyonsaba Jean Pierre', 43: 'Nsengimana Joseph', 44: 'NSENGIYUMVA  Innocent', 45: 'TUYISINGIZE Nepomuscene', 46: 'Uwamariya Masca', 47: 'Umuhire  Jerome', 48: 'Bavugempore Jean de Dieu', 49: 'Hakizimana Emmy', 50: 'Masa Mutuyeyezu Redampta', 51: 'Mukashumbusho Jeannette', 52: 'Ndayambaje Patrick', 53: 'RUBANDA Fidel', 54: 'Niyitegeka Moise', 55: 'Nzayinambaho  Ange Bernard', 56: 'Ruzindana Frank', 57: 'Muhire Emmanuel', 58: 'TUYISHIMIRE Marie Claire', 59: 'Alyppe KUBWAYO', 60: 'Amos KADENDE', 61: 'Antoine NZAYISENGA', 62: 'Aphrodis UKURIKIYEYEZU', 63: 'BIENVENUE Marie Claire', 64: 'Byarugaba J.de Dieu', 65: 'chantal umutesi', 66: 'Mvuyekure wellars', 67: 'Desire MUTWARE', 68: 'DUSABIMANA Angelique', 69: 'Egide TUBISABIMANA', 70: 'Emmanuel KANANI', 71: 'Emmanuel MANIRAFASHA', 72: 'Emmanuel NSENGIMANA', 73: 'Ephrem NKUNZABO', 74: 'Fidele MUTUYIMANA', 75: 'Fidele NIKUZE', 76: 'FLORENT NSABIMANA', 77: 'Georgie UWAMBAJIMANA', 78: 'Grace NISHIMWE', 79: 'HABIMANA MUSSA', 80: 'IMANANTIYANDETSE Marc', 81: 'IMANISHIMWE Djarudi Djarudi', 82: 'ISABELLE musabyemariya', 83: 'Ismael DUSENGIMANA', 84: 'Jackson DUKUZEMUNGU', 85: 'Janvier NZANYWAYIMANA', 86: 'Jean Baptiste MUSHIMIYIMANA', 87: 'Jean Bosco Twagirimana', 88: 'Jean Damascene Mbwirabumva', 89: 'Jean de Dieu Safari', 90: 'Jean Marie Vianney CYUBAHIRO', 91: 'Jonathan Habineza', 92: 'Joseline Nisingizwe', 93: 'KWIHANGANA Marc', 94: 'Kwizera Emmanuel', 95: 'Maniraho Maurice', 96: 'MANISHIMWE Samuel', 97: 'Mukarubayiza Triphine', 98: 'MUSANABOSE Yves', 99: 'NDABANANIYE David', 100: 'Ndagijimana Samuel', 101: 'Noah KURAMA', 102: 'Robert Muganga', 103: 'Sandrine MAHORO', 104: 'Solange Uwilingiyimana', 105: 'Sylvestre MUSENGIMANA', 106: 'Theoneste Maniraguha', 107: 'UTAZIRUBANDA NOEL Roudge', 108: 'UWANYIRIGIRA Claire', 109: 'Valentine NIYITEGEKA', 110: 'Victor MUGWANEZA', 111: 'INGABIRE Innocent', 112: 'Maniraguha Richard', 113: 'Asiimwe Samuel', 114: 'Musabirema  Dominique', 115: 'Kampire Docile', 116: 'Alice Uwiduhaye', 117: 'Hakuzimana  Edouard', 118: 'Olivier NGWIJE', 119: 'Giraneza Claudine', 120: 'MANIRABARUTA Marie Claire  ', 121: 'SIBOMANA Jean Damascene', 122: 'Karanganwa Anthony', 123: 'Niyonzima Simeon', 124: 'Uwizeye Alphonse', 125: 'Mukangwije Ancille', 126: 'Iribagiza Annette', 127: 'NISHIMWE Denise Amelie', 128: 'MUKANTAGANDA Liberatha   ', 129: 'MWIZA Florence', 130: 'Nakure Marie Aimee'}

In [40]:
enumerators = dict(enumerate(df_team_2["fo"].cat.categories))
enumerators = pd.DataFrame(enumerators.items(),columns=["codes", "names"])
enumerators.head(20)

    codes                      names
0       0         Musabeyezu Noella
1       1          Rushambara Alexis
2       2        NSHIMIYIMANA PASCAL
3       3         Habonimana Gabriel
4       4            Nirere Sandrine
5       5           NIYIBIZI Leandre
6       6            UWASE FrancineÂ
7       7        Uwizeyimana Viateur
8       8           Rusangwa Adolphe
9       9  IRADUKUNDA GAHIRE ADOLPHE
10     10           Ingabire Emelyne
11     11         MUSHIMIRE Clarisse
12     12            TUYISENGE ANICK
13     13      Bagirishyaka Fulgence
14     14             Fidele Iragena
15     15       MUKANKOMEJE  Chantal
16     16           NABAGIZE JUSTINE
17     17      NTAWUSIGIRYAYO  Eric
18     18            IRAMBONA Valens
19     19              Shingiro John

In [42]:
#we are going to convert categorical variables to their numeric values
df_team_2[cat_cols0] = df_team_2[cat_cols0].apply(lambda x: x.cat.codes)
#check the results
print(df_team_2.select_dtypes(["category"]).columns)
print(df_team_2["p1_eng_q02_sub3"].unique())
print(df_team_2["eng_participation"].unique())
print(df_team_2["spv"].unique())
print(df_team_2["fo"].unique())

Index([], dtype='object')
[-1  0  1  2]
[-1  1  0]
[3 2 5 4 1 0]
[  1   8 116 103  68 123  77 107  32  92 122 124  35  33  22  69  74  26
  18   2  36  70  49  30  20  65  56  10  58  24 114  19  13  80  47  15
   9  44  51 106 130  73  96 112 120  84  39  37  61  28  78  45  23  43
  46 104  85  12  41  75  71 108  67  34  62  72 105  94  54  83  87 101
 121  91  89   4  38  97  63  48 115  95   0   7 117  16  50  31 118   6
 100  90  11  60  93  14 127  27 129  59  55 125   3  66  29  21  81  52
  98 126  57  99  40 110 128 109  25  79 111   5  17  76 102  42 119  88
  82  64 113  86  53]

In [43]:
#check object type variables
object_cols = df_team_2.select_dtypes(["object"]).columns
print(object_cols)

Index(['deviceid', 'devicephonenum', 'username', 'device_info', 'duration',
       'caseid', 'district', 'sector', 'school', 'grade', 'student_code',
       'student_code_other', 'student_code_name', 'time_check_eng_1',
       'time_check_eng_2', 'time_check_eng_3', 'time_check_eng_4',
       'time_check_eng_5', 'time_check_eng_6', 'time_check_math_1',
       'time_check_math_2', 'time_check_math_3', 'time_check_math_4',
       'time_check_math_5', 'time_check_math_6', 'time_check_kiny_4',
       'time_check_kiny_5', 'time_check_kiny_6', 'time_check_kiny_1',
       'time_check_kiny_2', 'time_check_kiny_3', 'time_check_end',
       'instancename', 'key'],
      dtype='object')

In [44]:
#drop unuseful columns
df_team_2 = df_team_2.drop(['deviceid', 'devicephonenum', 'username', 'caseid','device_info','instancename', 'key'], axis=1)

In [45]:
#check object type variables again
object_cols0 = df_team_2.select_dtypes(["object"]).columns
print(object_cols0)

Index(['duration', 'district', 'sector', 'school', 'grade', 'student_code',
       'student_code_other', 'student_code_name', 'time_check_eng_1',
       'time_check_eng_2', 'time_check_eng_3', 'time_check_eng_4',
       'time_check_eng_5', 'time_check_eng_6', 'time_check_math_1',
       'time_check_math_2', 'time_check_math_3', 'time_check_math_4',
       'time_check_math_5', 'time_check_math_6', 'time_check_kiny_4',
       'time_check_kiny_5', 'time_check_kiny_6', 'time_check_kiny_1',
       'time_check_kiny_2', 'time_check_kiny_3', 'time_check_end'],
      dtype='object')

In [46]:
print(df_team_2["student_code"].unique())
print(df_team_2["student_code_name"].unique())
print(df_team_2["student_code_other"].unique())
print(df_team_2["time_check_eng_1"].unique())
print(df_team_2["time_check_end"].unique())

['530803230300' '421613220034' '241009230144' ... '531206190144'
 '320109200022' '531208200751']
['' 'Uwamahoro Clemantine' 'SHEMA Pascal' 'Iratuzi Nyiramahirwe'
 'Niyitanga Thegene' 'Mugwaneza Anitha' 'TUYISENGE Abraham'
 'Muhawenimana Diane' 'Irasubiza Richard' 'Nigirimbabazi jamus'
 'RUGWIRO MARIZA INES' 'Niyonshuti Theophile' 'Ufashijwenimana Jonathan'
 'Uwaremwe Centia' 'Igiraneza jacqueline' 'NEMA Mukombozi Emmanuel'
 'Byamungu Jesus' 'ISHIMWE Alpha' 'MUKUNZI ANICK IRUMVA'
 'Irumva Sano Sani Clety' 'Iradukunda delphine' 'KANYESIRYE Gift'
 'Kamikaze Alice' 'SENGA BERNADETTE' 'NDAYIZEYE Emmanuel'
 'Gisubizo gonna obrella' 'Iryikora Oreba' 'Shema sedric'
 'Irasubiza kenny' 'Izabayo Erneste' 'Isimbi Sangwa Liliane'
 'MUTUYIMANA Esther' 'Uwineza gloria' 'Ishimwe Irene delphine'
 'Manirakiza Faustin' 'Uwineza Angelique' 'Isimbi Kelia'
 'IHIMBAZWE ALPHA BRYAN' 'Niyomungeri j.Paul' 'NSHIMIYIMANA Jean Bosco'
 'SINJYENIYO FERDINAND' 'NYIRAMWIZA IRADUKUNDA' 'Uwikunda Henriette'
 'Niyonsenga Jacqueline' "NYIRANIRINGIYIMANA JEANNE D'ARC"
 'Irakoze shalom' 'Nitanga Eric' 'Irankunda Sabrine' 'Manzu Clever'
 'Nishimwe Aliane' 'NIYOMUGABO PATRICK' 'Nizeyimana Emmanuel'
 'Uwamwiza assoumpta' "Munyabugingo Jean D'Amour" 'Ishimwe Patrick'
 'Kwizera Thierry' 'NIYIDUHA ERIC' 'Benegusenga Sarah'
 'Mushimiyimana jeanette' 'Ineza Mariza Joyce' 'Sinzayibagirwa David'
 'KWISANGA Yves' 'UWAMAHORO Josiane' 'Asabwe Pascaline' 'Inema frank'
 'INGABIRE Francine' 'KWIZERA Victor' 'Ngenzi Peace of God'
 'Shimwa Bergeth' 'Muhayimana Esther' 'Munyanawase Diane'
 'HAKIZIMANA JOSUE' 'Mugisharugambwa' 'Byiringiro Francois'
 'Maniriho Elise' 'GAKURU Tumwine' 'Nsanzintwari Shaffi' 'Iranzi Issa'
 'BIZIYAREMYE Jean Eric' 'HABAKWIZERA Elias' 'UMURISA BONETTE'
 'Uwase ingabire' 'Ikuzwe Denise 41112004025' 'IRATUZI Pacifique'
 'Abayi Olnella Bebeto' 'Mukandayisenga Devoth' 'MUSHIMIYIMANA JANNETTE'
 'MUTEBUKA Frank' 'Mutezimana Divine' 'Irakoze Robert'
 'NIYONKURU DUSHIMIRIMANA Fidele' 'DUSENGIMANA Eliab' 'Iradukunda omega'
 'ZIRIKANIMANA OBALIDI' 'IRIBUKA JEAN DE DIEU' 'Tuyishime Bosco'
 'IHIRWE KALISA' 'Ibyimanikora Ruth' 'Nigena musa' 'UZANYAMAHORO MOISE'
 'Kayihura Wilson' 'HABIMANA JEAN BOSCO' 'Uwiduhaye leoncie'
 'IRASUBIZA MUGISHA KEVIN' 'MANIRAFASHA IRADUKUNDA' 'Ishimwe Holly'
 'MUSHIKIWABO Divinah' 'MUTONIWASE Janet' 'Udahemuka Ange Mireille'
 'Icyimanimpaye Emmerance' 'Bikorimana niyonkuru Jean claude'
 'Uwiragiye Fiston' 'Ineza Jacque' 'Irakoze Dorcas' 'MUGISHA Adolphe'
 'Mugisha Janvier' 'MANIZABAYO THEOGENE' 'Irasubiza Damuel'
 'IHIRWE KALISA Loxy' 'Teta Aime Caline' 'Bizimana Rene'
 'Nzayikorera Theophile' 'Gasore Bazase' 'Kavamahanga Francis'
 'Niwedusa Patrick' 'Gasaro Keza Ketia' 'Ntirenganya Alphonse'
 'Niyizibyose Benitha' 'Tuyizere Patrick' 'Mwizerwa salom' 'Mugabo  Eric'
 'HABUMUGISHA EMMANUEL' 'Mutoniwase Gihozo' 'GISUBIZO SHEMA' 'UTETA HOPE'
 'Habumugisha emanuel' 'Rebimana Joselyne' 'Clemance cyuzuzo Queen'
 'ISHIMWE Darsa' 'NYIRANSENGIMANA Angelique' 'Byoseniyo J- neep'
 'Hakuziyaremye ferecien' 'Twizeremana Joyeuse' "Nizeyimana D'amour"
 'Tuyizere Jean de Dieu' 'BIZIMANA RENE' 'NIYOKWIZERWA Kevine'
 'IRAKOZE Dieu donnee' 'Tuyizere Jean bosco' 'Tuyituriki Raissa'
 'Twizerimana Emmanuel' 'UWITONZE Rebecca' 'HABIMANA Jannot trezol'
 'Habitants Jan not tresor' 'Umukundwa Sandra' 'MANIRANZI JOSIANE'
 'NKURUNZIZA Thophille' 'Gisubizo Jean Claude' 'Mukeshimana Goretha'
 'Turikubwimana Theogene' 'Tumukunde Devotha' 'Umwali isimbi nickita'
 'NDIKUMANA Amadi' 'Tumukunde Rachel' 'TUYISHIMIRE EMELYNE'
 'Manirafasha honorine' 'Niyonshuti Emmanuel' 'IRAGENA IZERE'
 'Shyirakumutima Henriette' 'NDAHIMANA JEAN DE DIEU' 'Iradukunda Patience'
 'MUGISHWARUGAMBA' 'Niyonkuru Cedrick' 'Dusengimana Hellen'
 'Nzamutuma Feresiyani' 'Nuyogisubizo Diane' 'Munezero Dieudonne'
 'NIRAGIRE SERAPHINE' 'KEZA Ange' 'Tumwine Evode' 'Kwizera thiery'
 'IMPANO Cederick' 'Iyamumpaye pacifique' 'Sinjyeniyo Ferdinand'
 'Nizeyimana Samuel' 'Gihozo Patrick' 'MUGISHA RUKUNDO CHRISTIAN'
 'Tumukunde Pascaline' 'Nibishaka Diane' 'Habumugisha Jean Damascene'
 'Ndayizeye samwel' 'Mutuyimana Angelique' 'KUBERIMANA APHRODIS'
 'Tuyisenge Pascaline' 'Rutayisire' 'Niyogisubizo Abrahim'
 'uwizeyimana solange' 'Twizerimana divine' 'Impanoyimana Josua'
 'Habumugisha Placide' 'Ishimwe Mugisha Noella Sabbath' 'Iragena Julienne'
 'Irahibereye Donath' 'IRACYATURINZE IMMACULEE' 'Nishimwe Kevine'
 'Tumukunde Chantal' 'Irakoze Chance' 'MANISHIMWE VALENS'
 'Ahishakiye Emmanuel' 'MUHAWENIMANA Emeritha' 'NIYIZIBYOSE BENITHA'
 'Umuhire Jean Claude' 'Mutoni clementine' 'Uteta hope' 'Uwajeneza Yvonne'
 'TWIZERIMANA Moses' 'IMANIZABAYO ANGELIQUE' 'IRANZI SERINE'
 'Izabayo umwari hope' 'Mpete parfait Emile' 'Turikumwe Rafiki'
 'Irakoze Betty' 'Ndayishimiye Jean de lea Ndayishimiye Jean De La Paix'
 'Abizeyimana Dieudonne' 'Uwase Violette' 'Tuyisenge Obed'
 'Irasubiza Theogene' 'MUGISHA FIRONE' 'ISHIMWE Nadia'
 'SHIMIRWA Noel Justin' 'Igihozocyacu Chance Acqueline'
 'Nsengiyumva daniel' 'Ishimwe Hirwa Valens' 'Ikuzwe belise'
 'UMURERWA Noella' 'Nisingizwe Maurice' 'ISHIMWE Patrick'
 'Uwifashije josephine' 'Muhimpundu Alice' 'Niyogisubizo Esther'
 'Hirwa Aristide' 'TUWOMBE Jeande Dieu' 'UWIDUHAYE Divine'
 'MUKAFEZA LEMINE' 'Ngenzi peace of God' 'Uwiragiye Clenia Josiane'
 'ISHIMWE DONATH' 'IMFURAYACU Brayan' 'Irasubiza  Thierry'
 'Iranzi mwamikazi bertine love' 'Mugisha JMV' 'I manishimwe Shantali'
 'Mukeshimana Brigitte' 'Niragire Claudine' 'Turikumwenimana'
 'Tuyikorere Mugisha' 'Hakizimana Stiven' 'Uwambajimana Denyse'
 'Dufitumukiza Oswald' 'Niyomwiza Delphine' 'Ishimwe Fabrice'
 'Muragijemariya Anitha' 'AKALIZA Jolly' 'IZIBYOSE INNOCENT'
 'UWASE MERVEILLE' 'Hakizimana Noel' 'Byukusenge Ingabire' 'Impano Divine'
 'Twagizwenayo Solange' 'Kagabo David' 'Kayitesi Epiphanie'
 'Irakiza Cedrick' 'Masengesho Girbert' 'Ishimwe pamela'
 'Uwizeyimana Solange' 'Irakoze Belyse' 'Musabyimana Angelique'
 'Abatesi ericain' 'Tuyubahe Elisa' 'Cyubahiro ineza Arthur colin'
 'UMUTUZOCynthia' 'HAKIZAMUNGU Emanuel' 'Hirwa Lenus' 'Cybahiro pacifique'
 'Umubyeyi Rugero Sylvie' 'Irasubiza Divine' 'Hagen analysis Reverien'
 'Izerimana Joseline' 'KWIZERA SEDRICK' 'Uwiduhaye Florence'
 'Igirimpuhwe paroti' 'Ufitimana Latifa' 'Niyoyita Alexis'
 'Aburwibutso Ernest' 'NIYONGABO Theogene' 'Igiraneza Alpha'
 'Manirumva Obed' 'ISHIMWE Jean Bosco' 'IGIRANEZA ASIFIWE OCEANNE'
 'KAGABO EMMANUEL' 'MUGISHA Samuel' 'IRADUKUNDA KEZA scovia'
 'Mucyeshimana Jeanette' 'Irakoze Gisele' 'Niyomugabo Fabrice'
 'Nigena pascal' 'Uwase Jesca' 'HABUMUGISHA Abraham' 'Igirimpuhwe Pirote'
 'Niyogisubizo  fradja' 'Mukanoheri Violette' 'Mporansenga Faustin'
 'Uwambajimana Aline' 'ISHIMWE Dieu Donne' 'Maniriho Reponse'
 'Cyubahiro Alliance' 'Dukundimana Alice' 'Uwamahirwe Seraphine'
 'Hakizimana Daniel' 'Umumararungu Jizela' 'Teta aime Carine'
 'Ndayishimiye Chantal' 'UWAMAHORO Sandrine' 'Uwamahirwe Deborath'
 'Iradukunda Agnes' 'MUSHIMIMANA GRACE' 'UWAMARAYIKA Sandrine'
 'Iranzi Niyomukiza Samuel' 'IRATUNEZEZA MUNEZERO ARTINE' 'Yesuwa Giupza'
 'Irakoze Fabrice' 'Uwamahirwe jeannine' 'Kamukama hope'
 'Benegusenga Drocas' 'IRADUKUNDA AUGUSTIN' 'Niyomukiza Egide'
 'Umuhoza Innocente' 'Bikorimana Niyonkuru Jean Claude' 'MUTEBUKA FRANK'
 'Keza Benigne Shanelle' 'Mutuyimana Florence' 'Igiraneza Marie chantal'
 'ISHIMWE Aime Fabrice' 'Mwiza Doreen' 'Cyuzuzo Sixbert'
 'Dusabemariya Fransine' 'Mutsinzi Frank' 'TUYISHIME Bosco'
 'Ingabire Claudine' 'Habakurama jerme' 'Karangwa damour'
 'Mutoniwase Sandrine' 'Nyiramugisha Yvonne' 'MANZI Fabrice'
 'Karabokeza bella' 'IMPANO Pascaline' 'Assume Joshuwa' 'Igiraneza Alice'
 'UWIMANA Deborah' 'Niyonzima John' 'Shipway Frank Hybert'
 'TWISUNZUMUKIZA JOSEPH KING' 'Mukeshimana claudette'
 'MUTATSIMPUNDU Denyse' 'Kaze Rukundo Elvis' 'Iranzi serine'
 'UWIMANA SANDRINE' 'Niyomukiza angelique' 'Uwimana Claudine'
 'Ngabitsinze Samuel' 'Isimbi Justine' 'IKUZWE BELISE' 'Nzayisenga divine'
 'Niyogushma Rosine' 'Uwineza cyntia' 'Munezero Sandrine'
 'Ishimwe Olivier' 'IRAKOZE Etienne' 'IRADUKUNDA PATIENCE'
 'Ishimwe Pamella' 'Hirwa  beni' 'Mucyo Christian' 'UWINEZA Aline'
 'Twarayisenze Epimaque' 'NIYONKUNDA NADINE' 'BULELE YOSUFU'
 'IrakizaBella Esitha' 'DUKUZE AIME CHRISTIAN' "Habumugisha Jean D'amour"
 'Sanyo winnie' 'Habumugisha Emmanuel' 'NZABAHIMANA Ester'
 'IMPANOYIMANA Josua' 'Izabayo Thiery' 'Hahirwuwizera jmv' 'Alexandre'
 'Irakoze Pierre Celestin' 'MANZI Clever' 'Dushimirimsna Denize'
 'Akingeneye Vestine' 'Ineza Nobella' 'Kasande Annet'
 'Mukandayisenga Jacklin' 'MANIRAKIZA Josephine' 'UWIRINGIYIMANA Solomon'
 'Hirwa Yvan' 'Itangishaka Etienne' 'Pacifique' 'Niyonkuru Jean damour'
 'MANIRAREBA Marie claire' 'NYINAWUMUNTU Marie Grace' 'Habimana Christia'
 'Uwiragiye Aline' 'NISIBGIZWE Vestine' 'Ufitumuhoza pascaline'
 'Kwizera Samuel' 'Uwimigisha carine' 'Iradukunda Emma beline'
 'MUGISHA Eliah' 'MUCYO GANZA Kevin' 'Uwinema solange'
 'ABIZERIMANA Jean de Dieu' 'Ishimwe Jean Baptist'
 'KUBERIMANA  JEAN MARIE' 'Muhawenimana Consolee' 'Uwase Phiona'
 'ABAYISENGA Sandrine' 'Irakoze Nadine' 'DUKUNDIMANA Ruth' 'Ineza Didier'
 'Ntakirutimana Aime Chance' 'Ngambiriyimana Rene' 'Tuyisenge abrahum'
 'Uwihirwe Patience' 'HABIMANA Olivier' 'Inema Frank' 'Kuberimana Arafat'
 'Mugisha Fred' 'UWIMANIKUNDA Heliette' 'ITANGISHAKA Jean CLaude'
 'Izikurinda Elie' 'NIYOGISUBIZO Ghad' 'Musore Nassan' 'Abayo  bebeto'
 'Nayebare Betty' 'Nzayisenga Egide' 'Nyirarukundo fiette'
 'UWIMPUHWE RUTH' 'GIHOZO Joyce' 'UWIRINGIYIMANA JEAN CLAUDE'
 'NDAYISHIMIYE Gad' 'GIHOZO Beora' 'Irakoze fabrice' 'Ndayizeye Afrodis'
 'Impanoyabayisenga daniel' 'Uwizeyimana' 'Dusingizimana Anastase'
 'Tumukunde Valens' 'Sugira ihimbazwe justin' 'IRADUKUNDA FILS'
 'Ishimwe Jado Fils' 'Dushimimana Denise' 'UWIKUNZE Chance vannessa'
 'Uwineza solange' 'Murengezi Schadrak' 'UMUHOZA JEANINE' 'Gusenga Lise'
 'KABIHOGO Hanifa' 'TWIZEYIMANA Daniel' 'Manizabayo Niyitanga'
 'Murumunawabo Maombe' 'TUYINGANYIKI Bonette' 'IRADUKUNDA'
 'Nshimyumuremyi Enock' 'Manirahari Evode' 'Tarema Caleb'
 'UWIMBABAZI Clementine' 'INEZA Olga nelly' 'Mugisha Noella'
 'Niyonizera Jean Paul' 'Irakiza Damuru' 'Iratabara uwase Pascaline'
 'Uwase Irene' 'Mugisha' 'Uduhayeneza vivante' 'UWIRINGIYIMANA THEONESTE'
 'Irakoze Marie Yvonne' 'Irasubiza Olivier' 'IRISHAMI Belyse'
 'Iradukunda josiane' 'Ntakitutimana Getvais' 'MANZI Christian'
 'Usanase Carine' 'Umwiza peace keilla' 'NIYOGISUBIZO Adine'
 'Uwimana Angelique' 'NZAYISENGA Divine' 'Habinzhuti Elissa'
 'KABIRIGI Donath' 'UWURUKUNDO Sandrine' 'NIYOYAVUZE Jerome' 'Niwemwiza'
 'Ishimwe Jeanette' 'IIbyikora Oreba' 'Byiringiro Paciance'
 'Ingabire Esther' 'NIYOBYOSE DIVINE' 'Dushimimana Sandrine'
 'Uwimana Florence' 'Iradukunda Sandrine' 'BYOSENIMANA Claver'
 'TUYIZERE Isaie' 'SHEMA Aline' 'Irankunda Emmanuel' 'Maniranzi Josiane'
 'Niyonsenga Honorrette' 'Nzayisenga Leonard' 'Mutuyimana Benitha'
 'Niyogisubizo Remey' 'Uwase Denyse' 'Uwase Peace'
 'INGABIRE AIME PACIFIQUE' 'Uzanyamahoro Miose' 'Iribuka mean de Dieu'
 'Uwaremwe Cynthia' 'Niyindeba Fiette' 'NSENGIYUMVA Innocent'
 'Natete Chania' 'Nishimwe Clemance' 'Mugisha Fironebu'
 'Zirikanimana obalidi' 'Twizeyimana Daniel' 'Nshimyumugabe Edizo'
 'Samamahoro Jean Damour' 'Uwizeyimana Goderva' 'Uwizeyimana consolee'
 'CYUBAHIRO INEZA ARTHUR COLIN' 'MUGISHA Fred' 'Iratabara Samuel'
 'Niyomutakirwa Fabiol' 'Nzayiramya Moses' 'Ineza Mariza joyce'
 'CYIFUZO MANZI DOMINIQUE' 'Muhire Samusoni' 'Ishimwe Ariette'
 'Umuhire kevin' 'Tuyubahe Jean Baptiste' 'Niragire Devotha'
 'Uwambajimana Denise' 'MUGABEKAZI Queen' 'Dusengimana Obama'
 'Uwiringiyimana Sharle' 'Nsabimana Alnord' 'Uwiringiyimana Jean claude'
 'UWIDUHAYE CLEMANTINE' 'HAKORIMANA Fils' 'Ingabire Evelyne'
 'MASENGESHO GILBERT' 'ITANGISHAKA Honoline' 'Name are Betty'
 'NSHIMIYIMANA JEAN BAPTISTE' 'Cyifuzo mansion dominique'
 'Dushimimana Clemance' 'Iranezeza Emeline' 'Irakoze John'
 'UWIZEYIMANA Kelvin' 'Iradukunda Etienne' 'Uwitonze Devothe'
 'Twizerimana Mugisha Donatha' 'Iryivuze Jean luck' 'Shema Gentil'
 'Ntwali kevin' 'Niyosezerano Jacques' 'Ishimwe samuel'
 'Murumunawe Emmerance' 'Uwase Hornoline' 'INEZABAMBE SHADIYA'
 'Ukurikiyeyezu xaverine' 'NYAMWIZA Alice' 'Shema Jean pierre'
 'Uwikunda emelyne' 'Twarayisenze Epimake' 'Ishimwe Gervais'
 'Niyonkuru alex' 'MANIRAKIZA JOSEPHA' 'Twahirwa Erneste'
 'Uwimana Sandrine' 'Nirembere Denyse' 'Kwizera Patrick'
 'IRAKIZA Jean do Fils' 'INEZA Gaellae' 'Tuyishimire Regis'
 'Niyomugabo Emmanuel' 'Uwineza dianne' 'Nigena Frida'
 'Itangishaka Anitha' 'Ngomanziza Everigile' 'UWIMBABAZI Joselyne'
 'Igihozo Christine' 'Murisa Aime Darius' 'ITANGISHAKA Etienne'
 'Akimpaye Josee' 'Ibyisha Mungeri Lucky' 'Akimana Dative'
 'Tuyishime Emelyne' 'Mwamini joselyne' 'Niyigena  Allain'
 'ASHIMWE JEAN BOSCO' 'Kananuno William' 'UWACU Nicolas'
 'MUCYO GANZA KEVIN' 'Uwase Deborah' 'Ndatimana Robert' 'TUYIZERE Divine'
 'Muhire Aristide' 'Muhire Placide' 'Iradukunda Belyse' 'Uwase Providence'
 'Niy0yita Emmanuel' 'Ikuzwe denyse' 'Gisubizo Yesaya'
 'Batamuriza Germaine' 'Mugisha Etienne' 'Manishimwe Simeon'
 'Ujeneza Giselle' 'Irahagije Amina' 'Gasoro Faith' 'Manzi claver'
 'Niragire seraphine' 'Irakoze Angelique' 'NIYOGISUBIZO Appolinaire'
 'Ngabo Innocent' 'UWIZEYIMANA SANDRINE' 'HABARUGIRA Egide' 'Ineza Jack'
 'GISA NUSURATI' 'Isheja sostene' 'UWINEMA SOLANGE' 'Niyitanga Theogene'
 'Ufitinema Emerine' 'Umwiza Bonette' 'Gisubizo Josua'
 'Ikimanimpaye ratifa' 'Rwabuneza prince' 'Niyogushimirwa Dominique'
 'UWASE Aliette' 'TWIZERE MUGABA Irene' 'JYAMUBANDI CHARLES'
 'Impano cederic' 'DUFITUMUKIZA SAMUEL' 'NIREMBERE Elissa' 'Rabani joseph'
 'Irakoze Honnette' 'Tuyishime winy' 'SANGWA GIULLOUME'
 'MURAGIJIMANA ROSINE' 'Ineza Armelle' 'ISHIMWE SERAPHINE'
 'Nshimiyimana Mohamed' 'IHIRWE AIME ROUANGE' "IZAMPOZA Jeanne D'Arc"
 'Isumbabyose Lea' 'Teresa Nakato' 'UZAMUKUNDA Laissa'
 'Umutoniwase resistuta' 'Nyirarukundo Fiellette' 'UWAYO Placide'
 'Kankesha Mariyeta' 'Uwigaba Jean Damascene' 'GATESI FLORANCE'
 'Uwineza Jackline' 'Uwacu Rosine' 'NIYONASENZE Rose jenifa'
 'Dukuzimana philimin' 'Muhire Samson' 'MUTEZIMANA Divine'
 'Nishimwe Pacifique' 'Niyodukunze Jeunevieve' 'Igiraneza asinine oceanne'
 'KUZWITEKA DEOGRATIAS' 'Hakizimana Abdul' 'Uwamahoro joselyne'
 'Uwimana Letitia' 'Nayituriki Claudette' 'Uwase Christine'
 'Mucunguzi Eric' 'IRADUKUNDA Joselyne' 'KAYITESI SOLANGE'
 'Niyonkuru Eric' 'AKINGENEYE Laurence' 'Abizera Gloria' 'NATASHA Businge'
 'Imanigirimpuhwe Prissica' 'Ikizere Bonnette' 'Irasubiza Charlotte'
 'INEZA Mary Divine' 'Ngaboyisonga Briane' 'BAHATI TETA Hope'
 'Ihirwe Aimee Rouange' 'Kananura Isaac' 'MUNGANYINKA Keria'
 'Malaysia Anisia' 'ISHIMWE Olivier' 'Asimwe angel' 'GATSINZI Alpha'
 'Imaniranzi Sarah' 'Hagenimana Feniyasi' 'Kwizera Utuye Christian'
 'Tuyiringire Emilien' 'Imananiyokwizerwa Chadarce'
 'Ruggiero Yvan Miracle' 'Manizabayo Theogene' 'UWIMANA Florence'
 'NIYONSHUTI EMMANUEL']
['.' '530814005068' '330534002020' '431104230104' '5410062002'
 '430506181060' '330206001002' '320403230137' '555' '430704001040'
 '210207005001' '530814605072' '421509002010' '530906005041'
 '330205220149' '540705161147' '240808005002' '330434220175'
 '211005001002' '330806003001' '240202003001' '540712210410'
 '540712004009' '420806001042' '540704230216' '210125003003' '32040117127'
 '320208180587' '210207230224' '531105002035' '430906004001'
 '530906003040' '210125003002' '55555' '330816006001' '420502190179'
 '121314190250' '420806001046' '320208002001' '540712200359'
 '430506002032' '430704004062' '421509002012' '320704230263'
 '421402001013' '540712003005' '530814160031' '130604004020'
 '420802001031' '420502001002' '210908002005' '2405050003001'
 '540216200059' '530814005062' '420915004040' '210908005001'
 '531105002032' '430306005001' '43114001005' '420612005001' '330806003002'
 '330534002022' '54712005001' '430101002002' '240505005003' '530503200236'
 '210902002002' '330504004017' '210713005003' '420302003028'
 '540712220222' '530507004011' '130823200110' '540712005003'
 '421108160125' '421102210191' '241006002001' '560106005021'
 '530906006040' '540712210425' '420802001019' '1308232105214'
 '330534001021' '421813001001' '540712004008' '530906006041'
 '420903001022' '330206220436' '330432005021' '210208201085'
 '430704001041' '420903005027' '421207003001' '421804004001'
 '210908002002' '321202003001' '130313190395' '540712005006'
 '540712001007' '430114002002' '330909005001' '24050500505'
 '4313055003001' '540609004001' '331216001025' '421102003026'
 '210713006001' '420903005033' '530503005016' '330432005020' '0'
 '530906003043' '430506230158' '431206005040' '540712200123'
 '530814171671' '210510003001' '430506002025' '430506181220'
 '430907220130' '330909003021' '540712200126' '421509003030'
 '530717230436' '421112004026' '421007001071' '320208002002'
 '330434230408' '330432004022' '54060220049' '421613191408' '431206004002'
 '540712200369' '331216191478' '540702181444' '431104230135'
 '320208003003' '210901001002' '330432004021' '421004005041'
 '430101002001' '430506220065' '540712005007' '330909004001'
 '530503003023' '421613004030' '53081405071' '320205190468' '540712005002'
 '420903005030' '540712004006' '210805002001' '420609003025'
 '420513005001' '330504230374' '530814181758' '540609230251'
 '540712200130' '530503004047' '210510004002' '420903003030'
 '540712210474' '540712210468' '540704230214' '430506220024'
 '540412004001' '130146005009' '210908002004' '130823200296'
 '530814171520' '54070230216' '210908005030' '420806001040' '540712004007'
 '540712200142' '530814160171' '5309060040041' '431008190475'
 '421509005036' '421403001017' '530814140050' '430704002001'
 '421611001053' '120108221036' '530906004040' '530814005070'
 '130313002001' '420513005006' '530506006027' '330208230531'
 '540712002003' '541006002001' '43110400501' '540712200187' '421108005025'
 '420903002044' '210125003001' '541006002005' '430506002023'
 '540712003004' '130823210569' '540712002002' '540712200150'
 '540712002011' '421613004031' '420903001023' '4201010010013'
 '420504005001' '421714190200' '541015005002' '431206140191'
 '421509210153' '530906003041' '320208200071' '240505005002'
 '210504001001' '130823200034' '240501003002' '330213220447'
 '420806001044' '2401010002002' '430506200238' '210207190092' '-555'
 '431305002024' '130146005010' '540712210436' '430506002018'
 '430104001006' '320401003001' '240505004002' '420909005018'
 '421102180550' '210504001002' '330806230215' '420513004001'
 '540712210382' '420513001001' '430704005041' '54060230252' '130146006002'
 '430108140159' '530503005012' '2405050002004' '130146005008'
 '430506002015' '420909003001' '130146005006' '420315006072'
 '540712004004' '320403221575' '24051003003' '130810200547' '541006002006'
 '240709001001' '540712210418' '530507001023' '421509005033'
 '421613002033' '420806001041' '540712200159' '421509001027'
 '530503005011' '430714003002' '540712220232' '541006002003'
 '430506200051' '420903004021' '420513005002' '540712220143'
 '421102001028' '240505002002' '421613004032' '240505005001'
 '531314004071' '210114220559' '320401160108' '53006003042' '430704005043'
 '430506004018' '421102003027' '531105002033' '540712210501'
 '240505002001' '530814005069' '431401002001' '240505004001'
 '130823210484' '420909003002' '421509005032' '331109183183'
 '431104001002' '330206006041' '540704001027' '420513005005'
 '540457230199' '210908002003' '240804181759' '331216001024'
 '540712004005' '530814005063' '420203001001' '420909006024'
 '430114002001' '430907001005' '240505005005' '121431002021'
 '540609230268' '331216001023' '421102001026' '540712200137'
 '421102220045' '540705181973' '530507001029' '330206005001'
 '430506002016' '530503003025' '240505003002' '120127220132'
 '210713005001' '540712220024' '210125001001' '531103180896'
 '541205004001' '420915001001' '540712005001' '5407122002005'
 '130146005001' '210902002001' '421512190759' '210705002001'
 '421613003041' '210707002002' '331216001021' '431305005002' '54071210448'

In [47]:
df_team_2[["student_code","student_code_other"]][df_team_2["student_code_other"]!="."]

       student_code student_code_other
48     530814005068       530814005068
98     330534002020       330534002020
107    431104230104       431104230104
132      5410062002         5410062002
313    430506181060       430506181060
...             ...                ...
56804   42051400041        42051400041
57143  120402201051       120402201051
57261  420903005014              55555
57400  430506181189       430506181189
57407  210805002001       210805002001

[717 rows x 2 columns]

In [48]:
#Assigning values to student_code_other based on student_code variable
df_team_2.loc[df_team_2["student_code_other"] == df_team_2["student_code"], "student_code_other"] = "."
print(df_team_2.student_code_other.unique())

['.' '555' '55555' '421102210191' '0' '540712005002' '210504001001'
 '210504001002' '540712210425' '5555' '210504220334']

In [49]:
df_team_2.loc[df_team_2["student_code_other"] != ".", "student_code_other"].unique()

array(['555', '55555', '421102210191', '0', '540712005002',
       '210504001001', '210504001002', '540712210425', '5555',
       '210504220334'], dtype=object)

In [50]:
# let's create a column that will help us track these inconsistencies
df_team_2["student_code_unsure"] = np.where(df_team_2["student_code_other"].isin(['540712210384', '21108002025',
       '510712002010', '540712210425', '421807055001', '4305061550',
       '5707122003003', '4211020003025', '211001230088', '421102210191',
       '42111204027', '320028002001']),"flagged","passed")
print(df_team_2["student_code_unsure"].value_counts())

passed     57429
flagged        2
Name: student_code_unsure, dtype: int64

In [51]:
# check if student_code column is unique and doesn't have duplicates
df_team_2["student_code"].is_unique

False

In [52]:
# check how many dups we have
df_team_2["student_code"].duplicated().sum()

972