In [1]:
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Output, Input
import os 
import pandas as pd
import numpy as np
from plotly import graph_objects as go

In [2]:
pwd

'c:\\Users\\HP\\source\\repos\\STARS_dashboard\\stars-dashboard'

In [3]:
os.chdir(r"C:\Users\HP\source\repos\STARS_dashboard")
os.getcwd()

'C:\\Users\\HP\\source\\repos\\STARS_dashboard'

In [2]:
# app instantiation
app = JupyterDash(__name__)

In [4]:
# app layout
app.layout = html.Div([
    dcc.Dropdown(
        options=[{"label" : color,
                 "value" : color }
                 for color in ["blue","green","yellow"]
    ]),
    html.Div()
])

In [ ]:
# run the app
if __name__ == "__main__":
    app.run_server(mode = "inline",port = "3333")

In [ ]:
#using callbacks

# app instantiation
app = JupyterDash(__name__)

# app layout
app.layout = html.Div([
    dcc.Dropdown(id= "color_dropdown",
                 options = [
                    {"label": color, 
                    "value": color}
                    for color in ["Blue","Black", "Green"]
                ]),
    html.Br(),
    html.Div(id="display_dropdown")
])

# callback functions
@app.callback(Output(component_id = "display_dropdown",
                     component_property= "children"),
              Input(component_id = "color_dropdown",
                    component_property = "value"))

def display_selected_color(color):
    if color is None:
        color = "Nothing"
    return "The color is " + color 

# run the app
if __name__ == "__main__":
    app.run_server(mode = "inline", port = 2)

In [ ]:
# app instantiation
app = JupyterDash(__name__)

# information on the activities
timeline = ["first year", "second year"]
short_description = {"first year":"The data collection activities spanned 10 districts while gathering data on 343 schools where 100 schools were in the\
                     control group while 243 schools were in the treatment group",
                     "second year":"489 schools were visited across 10 districts to conduct STARS data collection activities."}

# app layout
app.layout = html.Div([
    dcc.Dropdown(id = "id_dropdown",
                 options = [{"label" : time,
                            "value": time}
                            for time in timeline]),
    html.Br(),
    html.Div(id = "output_dropdown")
])

# callback functions
@app.callback(Output(component_id = "output_dropdown",
                     component_property= "children"),
              Input(component_id = "id_dropdown",
                    component_property = "value"))

def activity_info(timeline):
    if timeline is None:
        return "STARS project is being implemented by Innovation for Poverty Actions in partnership with Georgetown University, MINEDUC, REB, and NESA"
    return [html.H3(timeline), f'For the  {timeline}, {short_description[timeline]}']

# run the app
if __name__ == "__main__":
    app.run_server(mode = "inline", port = 5)

## Working with Plotly's Figure Objects

### Understanding the Figure Object

In [ ]:
go.Figure()

In [ ]:
fig = go.Figure()
fig.add_scatter(x=[1,2,3],y=[4,2,3])
fig.show()

In [ ]:
fig.add_scatter(x = [3,5,2,4], y = [5,2,6,0])

#### Layout Attribute

In [ ]:
fig.layout.title = "Example 0"
fig.layout.xaxis.title = "x axis"
fig.layout.yaxis.title = "y axis"
fig.show()

In [ ]:
# exploring figure objects
fig.show("json")

In [ ]:
fig.show()

In [ ]:
fig.show(config = {"displaylogo" : False,
                   "modeBarButtonsToAdd" : ["drawrect",
                                            "drawcircle",
                                            "eraseshape"]})

#### Converting figures

In [9]:
# To Html
fig.write_html("html_plot.html",
               config = {"toImageButtonOptions" : {"format" : "svg"}})

In [ ]:
# to images
fig.write_image("apps/images/example_image.svg",
                height = 800, width = 900)

# plotting using real data

In [4]:
# import datasets to use

# we start by using data entry data from year 1

data_entry_team_1 = pd.read_stata(r"data\ipa-data\learning_assessment\data_entry\year1\clean\first_entry\Final Assessment First Entry Clean.dta")
data_entry_team_2 = pd.read_stata(r"data\ipa-data\learning_assessment\data_entry\year1\clean\second_entry\Final Assessment Second Entry Clean.dta")
data_entry_reconciliation = pd.read_stata(r"data\ipa-data\learning_assessment\data_entry\year1\clean\reconciliation\reconciled_clean.dta")

In [5]:
data_entry_team_1.head(5)

,deviceid,devicephonenum,username,device_info,duration,caseid,spv,fo,district,sector,...,kin1marks_p6_kin1p6_kin_q061p6_k,kin1marks_p6_kin1p6_kin_q101p6_k,v453,kin1marks_p5_kin1p5_kin_q141p5_k,submissiondate,starttime,endtime,subdate,enddate,v454
0,E0D3C54C-EFFE-4185-8F00-80D1CE7B79E6,,collect,Apple|iPhone|15.7.5|SurveyCTO Collect 2.80 (27...,180,,Shema Christian,Ndagijimana Samuel,Nyanza,Busoro,...,NaN,NaN,NaN,NaN,2023-08-07 17:02:03,2023-08-07 15:07:01,2023-08-07 15:10:01,2023-08-07,2023-08-07,NaN
1,e9129293624d72e5,,collect,samsung|SM-T225|13|SurveyCTO Collect 2.80.2 (2...,217,,NAHIMANA Reverien,NDABANANIYE David,Musanze,Busogo,...,NaN,NaN,NaN,NaN,2023-07-28 16:33:29,2023-07-28 15:28:16,2023-07-28 15:31:52,2023-07-28,2023-07-28,NaN
2,d73df25fad2cc33b,,collect,samsung|SM-T225|13|SurveyCTO Collect 2.80.2 (2...,575,,Shema Christian,Habonimana Gabriel,Gakenke,Kivuruga,...,NaN,NaN,NaN,NaN,2023-07-24 15:34:11,2023-07-24 09:05:49,2023-07-24 09:15:25,2023-07-24,2023-07-24,NaN
3,d6ee4c5c7759f9a6,,collect,samsung|SM-T290|11|SurveyCTO Collect 2.80 (9b6...,401,,NTAREMBA George,IRASUBIZA Zawadi,Musanze,Gacaca,...,NaN,NaN,NaN,NaN,2023-07-31 11:31:03,2023-07-31 10:53:15,2023-07-31 10:59:56,2023-07-31,2023-07-31,NaN
4,87c4ab681ae1d513,,collect (not yet authenticated),samsung|SM-T505N|10|SurveyCTO Collect 2.80.2 (...,429,,NAHIMANA Reverien,KWIHANGANA Marc,Nyanza,Busoro,...,NaN,NaN,NaN,NaN,2023-08-07 09:32:26,2023-08-07 09:18:01,2023-08-07 09:25:10,2023-08-07,2023-08-07,NaN

In [6]:
data_entry_team_1.dropna(axis=1,how="all").describe(include = [np.number]).T

,count,mean,std,min,25%,50%,75%,max
p1_leg_cwpm_sub1,1667.0,1.094301e+01,9.928665e+00,0.000000e+00,0.000000e+00,1.000000e+01,2.000000e+01,2.700000e+01
p2_leg_cwpm_sub1,1675.0,2.356716e+01,1.297464e+01,0.000000e+00,1.500000e+01,2.500000e+01,3.500000e+01,4.100000e+01
p3_leg_cwpm_sub1,1651.0,3.586978e+01,1.485797e+01,0.000000e+00,2.700000e+01,3.700000e+01,4.700000e+01,5.900000e+01
formdef_version,56906.0,2.402470e+09,2.122712e+07,2.307212e+09,2.407201e+09,2.407201e+09,2.407201e+09,2.407201e+09

In [7]:
data_entry_team_1.dropna(axis=1,how="all").describe(include="all",datetime_is_numeric=True).T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
deviceid,56906,169,4345ef039ad8e2b5,1209,NaN,NaN,NaN,NaN,NaN,NaN,NaN
devicephonenum,56906,5,,55777,NaN,NaN,NaN,NaN,NaN,NaN,NaN
username,56906,5,collect,54311,NaN,NaN,NaN,NaN,NaN,NaN,NaN
device_info,56906,57,samsung|SM-T225|13|SurveyCTO Collect 2.80.2 (2...,36882,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration,56906,1456,201,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
submissiondate,56906,NaN,NaN,NaN,2023-08-02 08:10:02.905159168,2023-07-22 12:42:41,2023-07-27 13:56:55.249999872,2023-08-01 17:32:54,2023-08-07 15:58:51.750000128,2023-08-25 18:56:57,NaN
starttime,56906,NaN,NaN,NaN,2023-08-02 04:46:56.341000704,2023-03-17 02:43:34,2023-07-27 10:05:07,2023-08-01 16:17:46,2023-08-07 13:14:34.249999872,2023-08-25 18:33:15,NaN
endtime,56906,NaN,NaN,NaN,2023-08-02 04:58:39.913945856,2023-07-22 08:27:26,2023-07-27 10:13:17.500000,2023-08-01 16:23:44,2023-08-07 13:19:46.500000,2023-08-25 18:40:53,NaN
subdate,56906,NaN,NaN,NaN,2023-08-01 16:50:58.854953984,2023-07-22 00:00:00,2023-07-27 00:00:00,2023-08-01 00:00:00,2023-08-07 00:00:00,2023-08-25 00:00:00,NaN
enddate,56906,NaN,NaN,NaN,2023-08-01 16:17:57.482163712,2023-07-22 00:00:00,2023-07-27 00:00:00,2023-08-01 00:00:00,2023-08-07 00:00:00,2023-08-25 00:00:00,NaN

In [8]:
data_entry_team_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56906 entries, 0 to 56905
Columns: 456 entries, deviceid to v454
dtypes: category(407), datetime64[ns](5), float64(10), object(34)
memory usage: 43.9+ MB

In [9]:
# check columns that are entirely empty
empty_cols = [col for col in data_entry_team_1 if  data_entry_team_1[col].isna().all()]
print(empty_cols)

['kin1marks_p6_kin1p6_kin_q021p6_k', 'kin1marks_p6_kin1p6_kin_q061p6_k', 'kin1marks_p6_kin1p6_kin_q101p6_k', 'v453', 'kin1marks_p5_kin1p5_kin_q141p5_k', 'v454']

In [10]:
#drop empty cols
df_team_1 = data_entry_team_1.copy()
df_team_1 = df_team_1.drop(empty_cols,axis = 1)

# check columns that are entirely empty
empty_cols0 = [col for col in df_team_1 if  df_team_1[col].isna().all()]
print(empty_cols0)

[]

In [22]:
# let's check categorical columns
cat_cols = [col for col in df_team_1 if df_team_1[col].dtypes.name == "category"]
print(cat_cols)

cat_cols0 = df_team_1.select_dtypes(["category"]).columns
print(cat_cols0)

['spv', 'fo', 'eng_participation', 'p1_eng_q01_sub1', 'p1_eng_q01_sub2', 'p1_eng_q02_sub1', 'p1_eng_q02_sub2', 'p1_eng_q02_sub3', 'p1_eng_q03_sub1', 'p1_eng_q03_sub2', 'p1_eng_q03_sub3', 'p1_eng_q04_sub1', 'p1_eng_q04_sub2', 'p1_eng_q04_sub3', 'p1_eng_q05_sub1', 'p1_eng_q05_sub2', 'p1_eng_q05_sub3', 'p1_eng_q05_sub4', 'p1_eng_q05_sub5', 'p1_eng_q06_sub1', 'p1_eng_q06_sub2', 'p1_eng_q06_sub3', 'p1_eng_q07_sub1', 'p1_eng_q07_sub2', 'p1_eng_q07_sub3', 'p1_eng_q08_sub1', 'p1_eng_q08_sub2', 'p1_eng_q08_sub3', 'p2_eng_q01_sub1', 'p2_eng_q01_sub2', 'p2_eng_q01_sub3', 'p2_eng_q01_sub4', 'p2_eng_q02_sub1', 'p2_eng_q02_sub2', 'p2_eng_q02_sub3', 'p2_eng_q03_sub1', 'p2_eng_q04_sub1', 'p2_eng_q05_sub1', 'p2_eng_q06_sub1', 'p2_eng_q07_sub1', 'p2_eng_q07_sub2', 'p2_eng_q08_sub1', 'p2_eng_q08_sub2', 'p2_eng_q08_sub3', 'p2_eng_q09_sub1', 'p2_eng_q09_sub2', 'p2_eng_q09_sub3', 'p2_eng_q10_sub1', 'p2_eng_q10_sub2', 'p2_eng_q10_sub3', 'p2_eng_q10_sub4', 'p2_eng_q11_sub1', 'p3_eng_q01_sub1', 'p3_eng_q01_sub2', 'p3_eng_q02_sub1', 'p3_eng_q03_sub1', 'p3_eng_q04_sub1', 'p3_eng_q04_sub2', 'p3_eng_q04_sub3', 'p3_eng_q04_sub4', 'p3_eng_q05_sub1', 'p3_eng_q05_sub2', 'p3_eng_q05_sub3', 'p3_eng_q06_sub1', 'p3_eng_q06_sub2', 'p3_eng_q06_sub3', 'p3_eng_q07_sub1', 'p3_eng_q07_sub2', 'p3_eng_q08_sub1', 'p3_eng_q08_sub2', 'p3_eng_q09_sub1', 'p3_eng_q09_sub2', 'p3_eng_q10_sub1', 'p3_eng_q10_sub2', 'p3_eng_q11_sub1', 'p3_eng_q12_sub1', 'p3_eng_q13_sub1', 'p4_eng_q01_sub1', 'p4_eng_q01_sub2', 'p4_eng_q01_sub3', 'p4_eng_q01_sub4', 'p4_eng_q02_sub1', 'p4_eng_q03_sub1', 'p4_eng_q03_sub2', 'p4_eng_q03_sub3', 'p4_eng_q03_sub4', 'p4_eng_q03_sub5', 'p4_eng_q04_sub1', 'p4_eng_q04_sub2', 'p4_eng_q04_sub3', 'p4_eng_q04_sub4', 'p4_eng_q04_sub5', 'p4_eng_q05_sub1', 'p4_eng_q05_sub2', 'p4_eng_q05_sub3', 'p4_eng_q05_sub4', 'p4_eng_q06_sub1', 'p4_eng_q07_sub1', 'p4_eng_q07_sub2', 'p4_eng_q07_sub3', 'p4_eng_q08_sub1', 'p4_eng_q08_sub2', 'p4_eng_q08_sub3', 'p4_eng_q09_sub1', 'p4_eng_q10_sub1', 'p5_eng_q01_sub1', 'p5_eng_q01_sub2', 'p5_eng_q02_sub1', 'p5_eng_q02_sub2', 'p5_eng_q02_sub3', 'p5_eng_q03_sub1', 'p5_eng_q03_sub2', 'p5_eng_q03_sub3', 'p5_eng_q03_sub4', 'p5_eng_q03_sub5', 'p5_eng_q04_sub1', 'p5_eng_q04_sub2', 'p5_eng_q04_sub3', 'p5_eng_q05_sub1', 'p5_eng_q06_sub1', 'p5_eng_q06_sub2', 'p5_eng_q06_sub3', 'p5_eng_q06_sub4', 'p5_eng_q07_sub1', 'p5_eng_q07_sub2', 'p5_eng_q08_sub1', 'p5_eng_q08_sub2', 'p5_eng_q08_sub3', 'p5_eng_q08_sub4', 'p5_eng_q08_sub5', 'p6_eng_q01_sub1', 'p6_eng_q01_sub2', 'p6_eng_q01_sub3', 'p6_eng_q02_sub1', 'p6_eng_q03_sub1', 'p6_eng_q04_sub1', 'p6_eng_q04_sub2', 'p6_eng_q04_sub3', 'p6_eng_q04_sub4', 'p6_eng_q05_sub1', 'p6_eng_q05_sub2', 'p6_eng_q05_sub3', 'p6_eng_q05_sub4', 'p6_eng_q05_sub5', 'p6_eng_q06_sub1', 'p6_eng_q06_sub2', 'p6_eng_q06_sub3', 'p6_eng_q06_sub4', 'p6_eng_q06_sub5', 'p6_eng_q07_sub1', 'p6_eng_q07_sub2', 'p6_eng_q08_sub1', 'p6_eng_q09_sub1', 'p6_eng_q10_sub1', 'p6_eng_q11_sub1', 'mat_participation', 'p1_mat_q01_sub1', 'p1_mat_q01_sub2', 'p1_mat_q02_sub1', 'p1_mat_q02_sub2', 'p1_mat_q02_sub3', 'p1_mat_q02_sub4', 'p1_mat_q03_sub1', 'p1_mat_q04_sub1', 'p1_mat_q04_sub2', 'p1_mat_q05_sub1', 'p1_mat_q06_sub1', 'p1_mat_q06_sub2', 'p1_mat_q06_sub3', 'p1_mat_q07_sub1', 'p1_mat_q08_sub1', 'p1_mat_q08_sub2', 'p1_mat_q09_sub1', 'p1_mat_q10_sub1', 'p1_mat_q11_sub1', 'p1_mat_q12_sub1', 'p1_mat_q12_sub2', 'p2_mat_q01_sub1', 'p2_mat_q02_sub1', 'p2_mat_q02_sub2', 'p2_mat_q02_sub3', 'p2_mat_q03_sub1', 'p2_mat_q03_sub2', 'p2_mat_q04_sub1', 'p2_mat_q04_sub2', 'p2_mat_q05_sub1', 'p2_mat_q05_sub2', 'p2_mat_q06_sub1', 'p2_mat_q06_sub2', 'p2_mat_q06_sub3', 'p2_mat_q06_sub4', 'p2_mat_q07_sub1', 'p2_mat_q08_sub1', 'p2_mat_q09_sub1', 'p2_mat_q09_sub2', 'p2_mat_q10_sub1', 'p2_mat_q10_sub2', 'p2_mat_q10_sub3', 'p2_mat_q10_sub4', 'p3_mat_q01_sub1', 'p3_mat_q01_sub2', 'p3_mat_q01_sub3', 'p3_mat_q01_sub4', 'p3_mat_q02_sub1', 'p3_mat_q02_sub2', 'p3_mat_q03_sub1', 'p3_mat_q04_sub1', 'p3_mat_q04_sub2', 'p3_mat_q05_sub1', 'p3_mat_q05_sub2', 'p3_mat_q06_sub1', 'p3_mat_q06_sub2', 'p3_mat_q07_sub1', 'p3_mat_q08_sub1', 'p3_mat_q09_sub1', 'p3_mat_q09_sub2', 'p3_mat_q10_sub1', 'p3_mat_q10_sub2', 'p3_mat_q11_sub1', 'p3_mat_q11_sub2', 'p3_mat_q11_sub3', 'p3_mat_q12_sub1', 'p3_mat_q12_sub2', 'p4_mat_q01_sub1_1', 'p4_mat_q01_sub1_2', 'p4_mat_q01_sub1_3', 'p4_mat_q01_sub2', 'p4_mat_q01_sub3', 'p4_mat_q02_sub1', 'p4_mat_q02_sub2', 'p4_mat_q03_sub1', 'p4_mat_q04_sub1', 'p4_mat_q04_sub2', 'p4_mat_q05_sub1', 'p4_mat_q05_sub2', 'p4_mat_q05_sub3', 'p4_mat_q06_sub1', 'p4_mat_q06_sub2', 'p4_mat_q07_sub1', 'p4_mat_q07_sub2', 'p4_mat_q08_sub1', 'p4_mat_q09_sub1', 'p4_mat_q10_sub1', 'p4_mat_q11_sub1', 'p4_mat_q11_sub2', 'p4_mat_q11_sub3', 'p4_mat_q11_sub4', 'p4_mat_q12_sub1', 'p4_mat_q12_sub2', 'p5_mat_q01_sub1_1', 'p5_mat_q01_sub1_2', 'p5_mat_q01_sub1_3', 'p5_mat_q01_sub2', 'p5_mat_q01_sub3', 'p5_mat_q02_sub1', 'p5_mat_q02_sub2', 'p5_mat_q03_sub1', 'p5_mat_q04_sub1', 'p5_mat_q04_sub2', 'p5_mat_q05_sub1', 'p5_mat_q05_sub2', 'p5_mat_q06_sub1', 'p5_mat_q07_sub1', 'p5_mat_q08_sub1', 'p5_mat_q09_sub1', 'p5_mat_q10_sub1', 'p5_mat_q11_sub1', 'p5_mat_q11_sub2', 'p5_mat_q12_sub1', 'p5_mat_q13_sub1_1', 'p5_mat_q13_sub1_2', 'p5_mat_q13_sub1_3', 'p5_mat_q13_sub2', 'p5_mat_q14_sub1', 'p5_mat_q14_sub2', 'p5_mat_q15_sub1', 'p5_mat_q15_sub2', 'p5_mat_q16_sub1', 'p6_mat_q01_sub1', 'p6_mat_q01_sub2', 'p6_mat_q02_sub1_1', 'p6_mat_q02_sub1_2', 'p6_mat_q02_sub1_3', 'p6_mat_q02_sub1_4', 'p6_mat_q02_sub2', 'p6_mat_q02_sub3', 'p6_mat_q03_sub1_1', 'p6_mat_q03_sub1_2', 'p6_mat_q03_sub2_1', 'p6_mat_q03_sub2_2', 'p6_mat_q04_sub1', 'p6_mat_q04_sub2', 'p6_mat_q05_sub1', 'p6_mat_q05_sub2', 'p6_mat_q05_sub3_1', 'p6_mat_q05_sub3_2', 'p6_mat_q05_sub4_1', 'p6_mat_q05_sub4_2', 'p6_mat_q06_sub1', 'p6_mat_q07_sub1', 'p6_mat_q07_sub2', 'p6_mat_q08_sub1', 'p6_mat_q08_sub2', 'p6_mat_q09_sub1', 'p6_mat_q10_sub1', 'p6_mat_q11_sub1', 'kiny_participation', 'p4_kin_q01_sub1', 'p4_kin_q01_sub2', 'p4_kin_q02_sub1', 'p4_kin_q03_sub1_1', 'p4_kin_q03_sub1_2', 'p4_kin_q03_sub2', 'p4_kin_q04_sub1', 'p4_kin_q04_sub2', 'p4_kin_q04_sub3', 'p4_kin_q05_sub1', 'p4_kin_q05_sub2', 'p4_kin_q05_sub3', 'p4_kin_q06_sub1', 'p4_kin_q06_sub2', 'p4_kin_q07_sub1', 'p4_kin_q08_sub1', 'p4_kin_q08_sub2', 'p4_kin_q08_sub3', 'p4_kin_q08_sub4', 'p4_kin_q08_sub5', 'p4_kin_q09_sub1_1', 'p4_kin_q09_sub1_2', 'p4_kin_q09_sub1_3', 'p4_kin_q10_sub1', 'p4_kin_q11_sub1', 'p4_kin_q12_sub1', 'p4_kin_q12_sub2', 'p5_kin_q01_sub1_1', 'p5_kin_q01_sub1_2', 'p5_kin_q02_sub1', 'p5_kin_q03_sub1_1', 'p5_kin_q03_sub1_2', 'p5_kin_q04_sub1', 'p5_kin_q05_sub1', 'p5_kin_q05_sub2', 'p5_kin_q05_sub3', 'p5_kin_q06_sub1_1', 'p5_kin_q06_sub1_2', 'p5_kin_q06_sub2_1', 'p5_kin_q06_sub2_2', 'p5_kin_q07_sub1', 'p5_kin_q07_sub2', 'p5_kin_q08_sub1', 'p5_kin_q08_sub2', 'p5_kin_q09_sub1', 'p5_kin_q10_sub1', 'p5_kin_q11_sub1', 'p5_kin_q12_sub1', 'p5_kin_q12_sub2', 'p5_kin_q13_sub1', 'p5_kin_q14_sub1_1', 'p5_kin_q14_sub1_2', 'p5_kin_q15_sub1', 'p6_kin_q01_sub1', 'p6_kin_q01_sub2', 'p6_kin_q02_sub1_1', 'p6_kin_q02_sub1_2', 'p6_kin_q03_sub1_1', 'p6_kin_q03_sub1_2', 'p6_kin_q03_sub1_3', 'p6_kin_q04_sub1', 'p6_kin_q04_sub2', 'p6_kin_q04_sub3', 'p6_kin_q05_sub1', 'p6_kin_q05_sub2', 'p6_kin_q05_sub3', 'p6_kin_q05_sub4', 'p6_kin_q05_sub5', 'p6_kin_q06_sub1_1', 'p6_kin_q06_sub1_2', 'p6_kin_q06_sub2_1', 'p6_kin_q06_sub2_2', 'p6_kin_q06_sub2_3', 'p6_kin_q07_sub1', 'p6_kin_q07_sub2', 'p6_kin_q07_sub3', 'p6_kin_q08_sub1', 'p6_kin_q08_sub2', 'p6_kin_q09_sub1_1', 'p6_kin_q09_sub1_2', 'p6_kin_q10_sub1_1', 'p6_kin_q10_sub1_2', 'p6_kin_q10_sub2_1', 'p6_kin_q10_sub2_2', 'legra_participation', 'p1_leg_q01_sub1', 'p1_leg_q02_sub1', 'p1_leg_q03_sub1', 'p1_leg_q04_sub1', 'p1_leg_q05_sub1', 'p2_leg_q01_sub1', 'p2_leg_q02_sub1', 'p2_leg_q03_sub1', 'p2_leg_q04_sub1', 'p2_leg_q05_sub1', 'p3_leg_q01_sub1', 'p3_leg_q02_sub1', 'p3_leg_q03_sub1', 'p3_leg_q04_sub1', 'p3_leg_q05_sub1']
Index(['spv', 'fo', 'eng_participation', 'p1_eng_q01_sub1', 'p1_eng_q01_sub2',
       'p1_eng_q02_sub1', 'p1_eng_q02_sub2', 'p1_eng_q02_sub3',
       'p1_eng_q03_sub1', 'p1_eng_q03_sub2',
       ...
       'p2_leg_q01_sub1', 'p2_leg_q02_sub1', 'p2_leg_q03_sub1',
       'p2_leg_q04_sub1', 'p2_leg_q05_sub1', 'p3_leg_q01_sub1',
       'p3_leg_q02_sub1', 'p3_leg_q03_sub1', 'p3_leg_q04_sub1',
       'p3_leg_q05_sub1'],
      dtype='object', length=407)

we have 407 columns that are categorical, this makes sense where, except for svp and fo, the columns represent participation or marks received by students with 3 choices: correct, incorrect, or left blank

In [21]:
# let's visualize categorical columns
print(df_team_1[cat_cols])

                        spv                        fo eng_participation  \
0           Shema Christian        Ndagijimana Samuel               Yes
1      NAHIMANA Reverien            NDABANANIYE David               Yes
2           Shema Christian        Habonimana Gabriel               Yes
3        NTAREMBA George             IRASUBIZA Zawadi               Yes
4      NAHIMANA Reverien              KWIHANGANA Marc               Yes
...                     ...                       ...               ...
56901      Uwimana  Pauline  UTAZIRUBANDA NOEL Roudge               Yes
56902  NAHIMANA Reverien               MWIZA Florence               Yes
56903    NTAREMBA George              KWIHANGANA Marc               Yes
56904       Shema Christian        Habonimana Gabriel               Yes
56905  NAHIMANA Reverien              UWASE Francine                Yes

      p1_eng_q01_sub1 p1_eng_q01_sub2 p1_eng_q02_sub1 p1_eng_q02_sub2  \
0                 NaN             NaN             NaN             NaN
1                 NaN             NaN             NaN             NaN
2                 NaN             NaN             NaN             NaN
3                 NaN             NaN             NaN             NaN
4                 NaN             NaN             NaN             NaN
...               ...             ...             ...             ...
56901             NaN             NaN             NaN             NaN
56902             NaN             NaN             NaN             NaN
56903              No              No              No              No
56904             NaN             NaN             NaN             NaN
56905             NaN             NaN             NaN             NaN

      p1_eng_q02_sub3 p1_eng_q03_sub1 p1_eng_q03_sub2  ... p2_leg_q01_sub1  \
0                 NaN             NaN             NaN  ...             NaN
1                 NaN             NaN             NaN  ...             NaN
2                 NaN             NaN             NaN  ...             NaN
3                 NaN             NaN             NaN  ...             NaN
4                 NaN             NaN             NaN  ...             NaN
...               ...             ...             ...  ...             ...
56901             NaN             NaN             NaN  ...             NaN
56902             NaN             NaN             NaN  ...             NaN
56903              No              No              No  ...             NaN
56904             NaN             NaN             NaN  ...             NaN
56905             NaN             NaN             NaN  ...             NaN

      p2_leg_q02_sub1 p2_leg_q03_sub1 p2_leg_q04_sub1 p2_leg_q05_sub1  \
0                 NaN             NaN             NaN             NaN
1                 NaN             NaN             NaN             NaN
2                 NaN             NaN             NaN             NaN
3                 NaN             NaN             NaN             NaN
4                 NaN             NaN             NaN             NaN
...               ...             ...             ...             ...
56901             NaN             NaN             NaN             NaN
56902             NaN             NaN             NaN             NaN
56903             NaN             NaN             NaN             NaN
56904             NaN             NaN             NaN             NaN
56905             NaN             NaN             NaN             NaN

      p3_leg_q01_sub1 p3_leg_q02_sub1 p3_leg_q03_sub1 p3_leg_q04_sub1  \
0                 NaN             NaN             NaN             NaN
1                 NaN             NaN             NaN             NaN
2                 NaN             NaN             NaN             NaN
3                 NaN             NaN             NaN             NaN
4                 NaN             NaN             NaN             NaN
...               ...             ...             ...             ...
56901             NaN             NaN             NaN             NaN
56902      Left blank              No             Yes              No
56903             NaN             NaN             NaN             NaN
56904             NaN             NaN             NaN             NaN
56905             NaN             NaN             NaN             NaN

      p3_leg_q05_sub1
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
56901             NaN
56902             Yes
56903             NaN
56904             NaN
56905             NaN

[56906 rows x 407 columns]

let's check for one of the categorical columns the choices available:

In [29]:
#print(df_team_1["p1_eng_q02_sub3"].cat.codes.unique())
#print(df_team_1["p1_eng_q02_sub3"].cat.categories.unique())
print(dict(enumerate(df_team_1["p1_eng_q02_sub3"].cat.categories)))
print(dict(enumerate(df_team_1["eng_participation"].cat.categories)))
print(dict(enumerate(df_team_1["spv"].cat.categories)))
print(dict(enumerate(df_team_1["fo"].cat.categories)))

{0: 'Left blank', 1: 'No', 2: 'Yes'}
{0: 'No', 1: 'Yes'}
{0: 'Shema Christian', 1: 'NAHIMANA Reverien   ', 2: 'Havugimana Saidi', 3: 'Uwimana  Pauline', 4: 'NTAREMBA George   ', 5: 'Hatangimana Gisele'}
{0: 'Rushambara Alexis', 1: 'NSHIMIYIMANA PASCAL', 2: 'Habonimana Gabriel', 3: 'Nirere Sandrine', 4: 'NIYIBIZI Leandre', 5: 'UWASE Francine\xa0', 6: 'Uwizeyimana Viateur', 7: 'Rusangwa Adolphe', 8: 'IRADUKUNDA GAHIRE ADOLPHE', 9: 'Ingabire Emelyne', 10: 'MUSHIMIRE Clarisse', 11: 'Mudahogora Placidie', 12: 'TUYISENGE ANICK', 13: 'Bagirishyaka Fulgence', 14: 'Fidele Iragena', 15: 'MUKANKOMEJE  Chantal', 16: 'NABAGIZE JUSTINE', 17: 'NTAWUSIGIRYAYO  Eric ', 18: 'IRAMBONA Valens', 19: 'Shingiro John', 20: 'UMUBYEYI MARIE GRACE', 21: 'MURAGIJIMANA Obadia', 22: 'MASENGESHO Samuel', 23: 'UMUBYEYI Claudine', 24: 'DUFATANYE Devota', 25: 'NSHIMIYIMANA Bernard', 26: 'MUKANSANGA Jacqueline', 27: 'UWIMANA Jeannette', 28: 'NAHAYO Jean Damascene', 29: 'DUSENGUMUREMYI Yvonne', 30: 'NSENGUMUREMYI Felix', 31: 'NDIKUMWENAYO Epimaque', 32: 'DUHAWUMUGISHA Nathan', 33: 'GATETE Fred', 34: 'MUTUYIMANA Josephine', 35: 'KAVAMAHANGA Lambert', 36: 'AENGAMIYE RWABUKWISI Smith Eugene', 37: 'HABARUREMA Jean Paul', 38: 'INGABIRE Marie Grace', 39: 'TUYISHIME Clementine', 40: 'HABIYAREMYE Aimable', 41: 'BITEGETSIMANA Samuel', 42: 'MUGISHA David', 43: 'Mwungura Ntagawa', 44: 'Niyonsaba Jean Pierre', 45: 'Nsengimana Joseph', 46: 'NSENGIYUMVA  Innocent', 47: 'TUYISINGIZE Nepomuscene', 48: 'Nshimiyimana Jean Marie vianney', 49: 'Umuhire  Jerome', 50: 'Hakizimana Emmy', 51: 'Masa Mutuyeyezu Redampta', 52: 'Mukarunyana Anysie', 53: 'Mukashumbusho Jeannette', 54: 'Ndayambaje Patrick', 55: 'RUBANDA Fidel', 56: 'Niyitegeka Moise', 57: 'Nzayinambaho  Ange Bernard', 58: 'Ruzindana Frank', 59: 'Muhire Emmanuel', 60: 'TUYISHIMIRE Marie Claire', 61: 'Alyppe KUBWAYO', 62: 'AMINA URWIBUTSO', 63: 'Amos KADENDE', 64: 'Annoncee Uwimana Nyandwi', 65: 'Antoine NZAYISENGA', 66: 'Aphrodis UKURIKIYEYEZU', 67: 'BIENVENUE Marie Claire', 68: 'Byarugaba J.de Dieu', 69: 'chantal umutesi', 70: 'Charlotte Umwali', 71: 'Mvuyekure wellars', 72: 'Desire MUTWARE', 73: 'DUSABIMANA Angelique', 74: 'Edith Muragijimana', 75: 'Egide TUBISABIMANA', 76: 'Emile JABO', 77: 'Emmanuel KANANI', 78: 'Emmanuel MANIRAFASHA', 79: 'Emmanuel NSENGIMANA', 80: 'Ephrem NKUNZABO', 81: 'Fidele MUTUYIMANA', 82: 'Fidele NIKUZE', 83: 'FLORENT NSABIMANA', 84: 'Georgie UWAMBAJIMANA', 85: 'Grace NISHIMWE', 86: 'HABIMANA MUSSA', 87: 'IMANANTIYANDETSE Marc', 88: 'IMANISHIMWE Djarudi Djarudi', 89: 'IRASUBIZA Zawadi', 90: 'ISABELLE musabyemariya', 91: 'Ismael DUSENGIMANA', 92: 'Jackson DUKUZEMUNGU', 93: 'Janvier NZANYWAYIMANA', 94: 'Jean Baptiste MUSHIMIYIMANA', 95: 'JEAN BAPTISTE NIYOYITA', 96: 'Jean Bosco Twagirimana', 97: 'Jean Damascene Mbwirabumva', 98: 'Jean de Dieu Safari', 99: 'Jean Marie Vianney CYUBAHIRO', 100: 'Jonathan Habineza', 101: 'Joseline Nisingizwe', 102: 'Kuradusenge Janvier', 103: 'KWIHANGANA Marc', 104: 'Kwizera Emmanuel', 105: 'Maniraho Maurice', 106: 'MANISHIMWE Samuel', 107: 'Mukarubayiza Triphine', 108: 'MUSANABOSE Yves', 109: 'NDABANANIYE David', 110: 'Ndagijimana Samuel', 111: 'Noah KURAMA', 112: 'Robert Muganga', 113: 'Sandrine MAHORO', 114: 'Solange Uwilingiyimana', 115: 'Sylvestre MUSENGIMANA', 116: 'Theoneste Maniraguha', 117: 'UTAZIRUBANDA NOEL Roudge', 118: 'UWANYIRIGIRA Claire', 119: 'Valentine NIYITEGEKA', 120: 'Victor MUGWANEZA', 121: 'INGABIRE Innocent', 122: 'Asiimwe Samuel', 123: 'Musabirema  Dominique', 124: 'Kampire Docile', 125: 'Alice Uwiduhaye', 126: 'Hakuzimana  Edouard', 127: 'Olivier NGWIJE', 128: 'Giraneza Claudine', 129: 'MANIRABARUTA Marie Claire  ', 130: 'SIBOMANA Jean Damascene', 131: 'Karanganwa Anthony', 132: 'Niyonzima Simeon', 133: 'Uwizeye Alphonse', 134: 'Mukangwije Ancille', 135: 2500922, 136: 'Mukeshimana  Theogene', 137: 'Iribagiza Annette', 138: 'NISHIMWE Denise Amelie', 139: 'MUKANTAGANDA Liberatha   ', 140: 'MWIZA Florence', 141: 'Nakure Marie Aimee'}

In [34]:
enumerators = dict(enumerate(df_team_1["fo"].cat.categories))
enumerators = pd.DataFrame(enumerators.items(),columns=["codes", "names"])
enumerators.head(20)

    codes                      names
0       0          Rushambara Alexis
1       1        NSHIMIYIMANA PASCAL
2       2         Habonimana Gabriel
3       3            Nirere Sandrine
4       4           NIYIBIZI Leandre
5       5            UWASE Francine
6       6        Uwizeyimana Viateur
7       7           Rusangwa Adolphe
8       8  IRADUKUNDA GAHIRE ADOLPHE
9       9           Ingabire Emelyne
10     10         MUSHIMIRE Clarisse
11     11        Mudahogora Placidie
12     12            TUYISENGE ANICK
13     13      Bagirishyaka Fulgence
14     14             Fidele Iragena
15     15       MUKANKOMEJE  Chantal
16     16           NABAGIZE JUSTINE
17     17      NTAWUSIGIRYAYO  Eric
18     18            IRAMBONA Valens
19     19              Shingiro John

In [35]:
#we are going to convert categorical variables to their numeric values
df_team_1[cat_cols0] = df_team_1[cat_cols0].apply(lambda x: x.cat.codes)
#check the results
print(df_team_1.select_dtypes(["category"]).columns)
print(df_team_1["p1_eng_q02_sub3"].unique())
print(df_team_1["eng_participation"].unique())
print(df_team_1["spv"].unique())
print(df_team_1["fo"].unique())

Index([], dtype='object')
[-1  2  1  0]
[ 1  0 -1]
[0 1 4 2 5 3]
[110 109   2  89 103  99  36 112  13  98   5 137  40  48 119  26   8 140
 105  76  42  74  14  59  71 134  91 127  17   4  95  37 116 128  31  52
  61 121  51  96  77 102  54  55 122  97 113 139  21 136  35  62  90 108
  85 124  79  49  75 138  33  86  68  83 126  64  28  44  30  81   6  88
  23  41  11 107  67  65 120 100  15 123  34  10  43  47  57  94   9   3
  12  50  70  22  69 131 125 101  20  38  87  16  73  63  92   7 133  46
  45 104  80  78  84 114  32   0  72  66  53 117 130 118  24  93  18 106
  82  39  27  60 129 141  19  56  29  58 115   1 111 132  25 135]

In [37]:
df_team_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56906 entries, 0 to 56905
Columns: 450 entries, deviceid to enddate
dtypes: datetime64[ns](5), float64(4), int16(1), int8(406), object(34)
memory usage: 41.2+ MB

we have successfully converted categorical variables to numeric variables

In [39]:
#check object type variables
object_cols = df_team_1.select_dtypes(["object"]).columns
print(object_cols)

Index(['deviceid', 'devicephonenum', 'username', 'device_info', 'duration',
       'caseid', 'district', 'sector', 'school', 'grade', 'student_code',
       'student_code_other', 'student_code_name', 'time_check_eng_1',
       'time_check_eng_2', 'time_check_eng_3', 'time_check_eng_4',
       'time_check_eng_5', 'time_check_eng_6', 'time_check_math_1',
       'time_check_math_2', 'time_check_math_3', 'time_check_math_4',
       'time_check_math_5', 'time_check_math_6', 'time_check_kiny_4',
       'time_check_kiny_5', 'time_check_kiny_6', 'time_check_kiny_1',
       'time_check_kiny_2', 'time_check_kiny_3', 'time_check_end',
       'instancename', 'key'],
      dtype='object')

In [40]:
# let's view the object type variables
df_team_1[object_cols].head()

,deviceid,devicephonenum,username,device_info,duration,caseid,district,sector,school,grade,...,time_check_math_6,time_check_kiny_4,time_check_kiny_5,time_check_kiny_6,time_check_kiny_1,time_check_kiny_2,time_check_kiny_3,time_check_end,instancename,key
0,E0D3C54C-EFFE-4185-8F00-80D1CE7B79E6,,collect,Apple|iPhone|15.7.5|SurveyCTO Collect 2.80 (27...,180,,Nyanza,Busoro,210207,P3,...,2023-Aug-7 15:09:59,,,,2023-Aug-7 15:10:01,2023-Aug-7 15:10:01,2023-Aug-7 15:10:01,2023-Aug-7 15:10:01,student_id210207190062,uuid:0000201e-8b84-40fa-8e37-05be1b8fac9b
1,e9129293624d72e5,,collect,samsung|SM-T225|13|SurveyCTO Collect 2.80.2 (2...,217,,Musanze,Busogo,430114,P3,...,2023-Jul-28 15:31:48,,,,2023-Jul-28 15:31:51,2023-Jul-28 15:31:51,2023-Jul-28 15:31:51,2023-Jul-28 15:31:51,student_id430101190753,uuid:0000a616-72b4-485a-a7e3-e57ad1b48f16
2,d73df25fad2cc33b,,collect,samsung|SM-T225|13|SurveyCTO Collect 2.80.2 (2...,575,,Gakenke,Kivuruga,420915,P5,...,2023-Jul-24 09:12:33,2023-Jul-24 09:13:07,2023-Jul-24 09:13:07,2023-Jul-24 09:15:24,,,,2023-Jul-24 09:15:24,,uuid:00027ad6-86ea-49c2-aca1-eaf59f3eebc3
3,d6ee4c5c7759f9a6,,collect,samsung|SM-T290|11|SurveyCTO Collect 2.80 (9b6...,401,,Musanze,Gacaca,430324,P6,...,2023-Jul-31 10:55:21,2023-Jul-31 10:56:50,2023-Jul-31 10:56:50,2023-Jul-31 10:56:50,,,,2023-Jul-31 10:59:55,student_id430311200702,uuid:00046f63-696f-44ba-b660-6395263d17eb
4,87c4ab681ae1d513,,collect (not yet authenticated),samsung|SM-T505N|10|SurveyCTO Collect 2.80.2 (...,429,,Nyanza,Busoro,210209,P5,...,2023-Aug-7 09:22:47,2023-Aug-7 09:22:50,2023-Aug-7 09:22:50,2023-Aug-7 09:25:09,,,,2023-Aug-7 09:25:09,student_id210209182748,uuid:00056471-339f-4339-8532-1944427947f9

In [42]:
#drop unuseful columns
df_team_1 = df_team_1.drop(['deviceid', 'devicephonenum', 'username', 'caseid','device_info','instancename', 'key'], axis=1)

In [43]:
#check object type variables again
object_cols0 = df_team_1.select_dtypes(["object"]).columns
print(object_cols0)

Index(['duration', 'district', 'sector', 'school', 'grade', 'student_code',
       'student_code_other', 'student_code_name', 'time_check_eng_1',
       'time_check_eng_2', 'time_check_eng_3', 'time_check_eng_4',
       'time_check_eng_5', 'time_check_eng_6', 'time_check_math_1',
       'time_check_math_2', 'time_check_math_3', 'time_check_math_4',
       'time_check_math_5', 'time_check_math_6', 'time_check_kiny_4',
       'time_check_kiny_5', 'time_check_kiny_6', 'time_check_kiny_1',
       'time_check_kiny_2', 'time_check_kiny_3', 'time_check_end'],
      dtype='object')

In [52]:
print(df_team_1["school"].unique())

['210207' '430114' '420915' '430324' '210209' '120604' '421102' '120405'
 '530425' '530801' '540504' '430907' '330213' '330208' '121201' '320509'
 '420542' '330802' '330309' '421007' '431206' '420411' '320115' '540117'
 '320507' '331127' '210208' '421502' '120805' '130713' '421208' '421611'
 '320208' '121203' '130313' '530717' '540613' '531107' '240203' '541211'
 '320611' '241006' '210713' '540208' '331213' '240404' '530908' '321210'
 '320401' '420413' '121432' '530418' '210408' '430701' '431108' '431009'
 '320201' '321108' '531311' '210407' '430517' '320601' '330308' '421808'
 '321001' '430906' '320207' '530818' '421404' '420101' '331212' '320802'
 '210908' '240709' '421509' '121509' '530426' '530503' '431104' '530819'
 '530511' '121431' '540609' '530104' '120308' '120506' '420513' '210901'
 '210125' '420311' '331205' '331216' '531208' '430903' '421207' '540610'
 '330214' '421614' '320409' '331133' '420502' '540210' '530702' '531312'
 '540215' '330816' '541201' '421402' '240804' '331233' '330320' '120611'
 '130822' '240208' '331102' '330705' '541216' '120309' '240107' '540605'
 '530820' '240108' '320508' '321109' '420515' '210802' '530101' '421210'
 '120503' '540712' '420514' '120402' '421813' '421807' '330908' '320603'
 '530805' '330604' '530803' '530507' '421620' '420205' '240505' '420913'
 '421613' '540704' '541215' '120508' '120617' '430714' '240712' '320806'
 '540206' '320205' '531313' '420203' '210504' '330608' '540213' '320411'
 '540431' '130604' '330206' '330432' '320403' '530812' '431209' '120127'
 '320702' '530814' '420902' '120108' '210705' '210707' '420914' '211001'
 '130828' '531109' '541205' '420903' '420201' '420612' '241008' '430706'
 '540216' '431019' '540908' '210110' '531010' '240202' '120505' '540706'
 '320106' '210603' '431113' '121502' '331130' '430704' '320405' '540205'
 '531105' '531011' '541217' '540104' '431103' '421403' '120304' '211005'
 '330511' '121506' '531301' '330913' '540919' '131015' '430603' '330808'
 '130905' '430206' '120307' '420802' '420112' '540511' '120455' '540601'
 '421642' '420315' '431010' '430506' '130717' '320805' '530506' '431112'
 '240501' '540614' '420209' '420909' '530906' '420613' '210205' '420806'
 '210805' '421113' '420904' '320407' '240921' '330307' '420609' '530107'
 '330420' '130143' '421804' '420211' '210210' '530907' '130823' '320402'
 '330534' '331109' '421108' '240808' '431305' '430101' '421512' '130829'
 '331202' '320118' '321202' '210907' '210611' '541006' '530909' '240109'
 '210617' '320117' '420207' '421004' '531305' '421112' '210911' '330806'
 '540604' '320109' '531108' '210206' '420805' '540207' '130532' '430325'
 '540209' '130146' '420306' '421610' '430108' '330909' '120815' '331106'
 '541015' '210109' '131007' '240201' '531103' '121408' '420212' '130908'
 '330504' '331105' '530106' '320704' '330434' '210902' '210114' '530501'
 '121430' '531106' '540204' '210116' '210801' '210211' '210510' '531203'
 '540428' '540457' '241009' '331231' '430102' '241302' '531003' '420504'
 '210115' '531314' '540103' '240809' '431207' '240508' '121404' '421110'
 '540612' '240412' '210120' '330205' '530510' '431401' '420302']

In [45]:
print(df_team_1["student_code"].unique())
print(df_team_1["student_code_name"].unique())
print(df_team_1["student_code_other"].unique())
print(df_team_1["time_check_eng_1"].unique())
print(df_team_1["time_check_end"].unique())

['210207190062' '430101190753' '420908190716' ... '420302220018'
 '531103160670' '540457220024']
['' 'Abayo Ornella Bebeto' 'NISHIMWE HELENE' 'ISHIMWE OLIVIER'
 'SHIMWA BERGETH' 'NIYODUSHIMA ROSINE' 'Uwase Dusenge Pascaline'
 'Tuwombe Jean de Dieu' 'IRAKIZA DAMOUR' 'JWASE GIHOZO NADIA'
 'Uwimana Angelique' 'Niyomukiza Angelique' 'IRANKUNDA SABRINE'
 'Manzi fabrice' 'Nzayisenga leonard' 'UWIRAGIYE BLANDINE'
 'Kagabo Emmanuel' 'Ufashijwenimana Jonathan' 'Iragena Gisele'
 'Muragijimana Rosine' 'Tuyisenge Abrahamu' 'Niyoyavuze Jeremie'
 'Himbazwa Alpha Bryan' 'Iranzi Serine' 'AKINGENEYE VESTINE'
 'NISINGIZWE Vestine' 'Akimana Dathiva' 'Irakoze diedone'
 'Ingabire Claudine' 'GAD FAZILI EMANUEL' 'Dushimimana sandrine'
 'Kubwimana Adrien' 'Akariza jolly' 'UWINEZA Gloria' 'GIHOZO PATRICK'
 'NIYOGISUBIZO Fradja' 'Taremwa Caleb' "Nyiranibiringirwa Jeanne d'Arc"
 'Keza ange' 'Nyiramwiza Iradukunda' 'Imananiyokwizerwa Chadraque'
 'Uwacu Nicolas' 'Dukuzimana philimin' 'Uwizeyimana Kelvin'
 'Natasha businge' 'Mukeshimana aline' 'Ndayishimye Chantal'
 'Twisunzumukiza Joseph King' "Nizeyimana D'amour" 'DUSHIMIMANA Clemence'
 'Uwamahoro josiane' 'Igirimpuhwe paroti' 'Nishimura Pacifique'
 'UWAMAHIRWE DEBORAH' 'Uwacu Rosine' 'Uwayo placide'
 'Ingabire Aime Pacifique' 'UWAMAHORO JOSELYNE' 'TURIKUMWENIMANA LEVE'
 'Karabo keza Bella' 'Shema Pascal' 'MUTONI Clementine'
 'Tuyishimire Emelyne' 'SHIMWA FRANCKE HYBERT' 'TWIZERIMANA Divine'
 'Mushimiyimana Jannette' 'NGARUKIYIMANA RENE' 'Ikuzwe Belise'
 'Hakorimana Fils' 'Habamungu Christophe' 'MUHIRE SAMSON'
 'Niyonsenga Honorrette' 'Tuyikorere mugisha' 'Uwase Christine'
 'Ishimwe pamela' 'Hakizamungu Emmanuel' 'Manirakiza Faustin'
 'MaNIRAHARI Evode' 'Hirwa Beni' 'Twizerimana Joyeuse'
 'Yangiriyeneza Donatien' 'Mukeshimana claudette' 'Nzayikorera Théophile'
 'Clemance Queen CYUZUZO' 'Irimaso Yvonne' 'Hagenimana Reverien'
 'HAKIZIMANA  Josué' 'Manirakiza Samuel' 'Habumugisha Emmanuel'
 'Niyomugabo Emmanuel' 'Ishimwe Samuel' 'INGABIRE Esther'
 'Iratabara samuel' 'Niyogushimwa dominique' 'Nzabahimana Ester'
 'Musabyimana Angelique' 'Irakoze John' 'Rebimana Joselyne'
 'IRASUBIZA DIVINE' 'Izampoza Jeanne darc' 'Ishimwe Jeannette'
 'Ndikumana amadi' 'Ihirwe happy sheilla' "MUNYABUGINGO Jean d'Amour"
 'Iradukunda Patience' 'Masengesho Gilbert' 'Iradukunda Elissa'
 'ASIMWE ANGEL' 'Irasubiza Samuel' 'Ishimwe nadia' 'IRADUKUNDA EMMA BELNE'
 'Uwineza Diane' 'GISUBIZO JEAN CLAUDE' 'Uzanyamahoro Moise'
 'NDAYIZEYE APHRODIS' 'Izabayo Thiery' 'Ineza Nobella'
 'Niyonasenze Roze Jeniffa' 'Mugisha rukundo christian' 'GUSENGA LIZE'
 'Uwiduhaye clementine' 'MUSORE NASSAN' 'ISHIMWE Samuel'
 'Niyobyiringiro thomas' 'Muhire Arstide' 'Irakoze Robert'
 'Irasubiza braza' 'IRADUKUNDA BELYSE' 'Mugisha Samuel'
 'Mushimiyimana Grace' 'Manirareba Marie claire' 'Izerimana Joseline'
 'MUGISHA Prince Balaca' 'MUGABO Eric' 'Mugisha Fred'
 'Nayituriki claudette' 'Nshimiyimana Jean Baptiste' 'Ishimwe Alpha'
 'Mutuyimana Alice' 'Twizeyimana Daniel' 'ASHIMWE Patience'
 'KAMIKAZI ALICE' 'INEZA ASANTE INNOCENTE' 'Manirakiza Deborah'
 'Burere Yusufu' 'Icyimanimpaye Emmerance' 'Irasubiza theogene'
 'Ndayizeye Emmanuel' 'NIYONSHUTI Theophile' 'TWISUNZUMUKIZA Joseph King'
 'Mucyo Enzo Gift' 'Hakizimana isimbi Emeline' 'Hakizimana Josue'
 'Uwase Merveille' 'Habimana Jan not tresor' 'Mukeshimana  Gorethe'
 'Niyomutakirwa Fabiol' 'SHEMA SEDRIC' 'IGIHOZO CHRISTELLA'
 'Iranzi Mwamikazi Bertine Love' 'Kankazi Queen' 'UWINEMA SOLANGE'
 'Ishimwe Donath' 'Kasande Annet' 'Iradukunda Etienne' 'Mutuyimana esthel'
 'BYIRINGIRO François' 'HIRWA Levis' 'Mugisha Janvier'
 'Ihirwe Aime Rouange' 'Tuyizere Patrick' 'Mukaneza Lemine'
 'KUBERIMANA ARAFAT' 'Manirakiza Josephine' 'ISHIMWE HOLY'
 'Nyamwiza Alice' 'IMANISHIMWE CHANTAL' 'UWIZEYIMANA GISELE'
 'NIYOMUKIZA  Egide' 'INGABIRE BYUKUSENGE' 'Nishimwe clemence'
 'Niragire Devotha' 'Nigaba Innocent' 'Irakoze Marie Yvonne'
 'Itangishaka Jean claude' 'Tumukunde Devotha' 'Gihozo Beara'
 'Nshimyumuremyi Enock' 'IRAKOZE BELYSE' 'Ineza Mery Divine'
 'UWASE Phiona' 'Irumva Sano Sani Clety' 'Igihozocyacu chance acqueline'
 'GISUBIZO GANZA Obrelle' 'Tuyinganyiki Bonnette' 'Manzi clever'
 'NDAYISABA AIME PLACIDE' 'Uwimanikunda Henriette' 'UMWALI ISIMBI NICKITA'
 'Iyamumpaye pacifique' 'Shema Gentil' 'Habimana Jean Bosc0'
 'Kate Rukundo Elvis' 'Ineza Mbape Shadiya' 'Uwiduhaye leoncie'
 "KARANGWA D'AMOUR" 'Mani Clever' 'Ishimwe patrick' 'IRAKIZA BELLA ESTHER'
 'Nisingizwe vestine' 'MUCYO CHRISTIAN' 'IRAKOZE ANGELIQUE'
 'IRAGENA Julienne' 'Niyonzima Vedaste' 'Uwizeyimana Sandrine'
 'MPETA Parfait Emile' 'Ineza Didier' 'Niyoyabikoze jean de dieu'
 'Igiraneza Fabrice' 'UWAMAHIRWE SERAPHINE' 'IRAKOZE HONNETTE'
 'Manizabayo Theogene' 'Nayebare Betty' 'Ishimwe Aime Fabrice'
 'Isimbi Gasaro' 'Mugwaneza anith' 'Kwizera victor' 'Munezero Sandrine'
 'MUKAFEZA Remine' 'ITANGISHAKA ANITHA' 'Uzamukunda Laisa'
 'NIYOSEZERANO JAQUES' 'Uwimbabazi joselyne' 'BYIRINGIRO PATIENCE'
 'GASARO FAITH' 'Uwase Irene' 'ISIMBI SANGWA LILIANE'
 'Manizabayo Niyitanga' 'Kuberimana Jean Marie' 'Uwambajimana Denyse'
 'BIKORIMANA NIYONKURU JEAN CLAUDE' 'Uwiringiyimana salom'
 'Mutoniwase Gihozo' 'UWINEZA SOLANGE' 'RUGWIRO YVAN MIRACLE'
 'Galore Bazase' 'NIYOMWIZA Delphine' 'NIGIRIMBABAZI Jamus'
 'Irankunda Emmanuel' 'Irakoze Etienne' 'Niyokwizerwa Kevine'
 'Habinshuti Elissa' 'Manishimwe jean bosco' 'Tumukunde valence'
 'Maniranzi Josiane' 'Munganyinka Keliya' 'IRANZI NIYOMUKIZA SAMUEL'
 'TUYITURIKI RAISSA' 'Ufitimana Latifa' 'Mutsinzi frank'
 'UWIDUHAYE Florence' 'Gisani Saluti' 'MURUMUNAWE Emmerance'
 'Ihirwe Karisa Lisa' 'BENEGUSENGA Drocas' 'Iradukunda Fils'
 'Singapore Bernadette' 'Umuhoza Jeannine' 'Nirembere Elyssa'
 'UWASE Violette' 'UWIGABA Jean Damascene' 'Iratunezeza munezero artine'
 'NYIRAMUGISHA Yvonne' 'Mukandayisenga devotha' 'UWIMANA LETITIA'
 'RWABUNEZA Prince' 'Maniriho Elyse' 'Mugabekazi Queen' 'MALAIKA Anisia'
 'UMUHIRE Jean Claude' 'KARABOKEZA Bella' 'IRADUKUNDA Delphine'
 'Igiraneza Marie Chantal' 'Uwiringiyimana Jean Claude'
 'UKURIKIYEYEZU Sevelyne' 'Nema mukombozi Emanuel' 'TUYISENGE PASCALINE'
 'Irakoze Gisele' 'ISHIMWE Seraphine' 'Impanoyimana Josuah'
 'Uwizeyimana Godereva' 'UWAJENEZA YVONNE' 'Irasubiza Geremie'
 'Kuberimana Aphrodis' 'IRATABARA UWASE PASCALINE' 'Irasubiza Divine'
 'Manirafasha iradukunda' 'MUHOMPUNDU ALICE' 'Uwitonze Rebecca'
 'Izabayo Erneste' 'Ikuzwe Denyse' 'Ashimwe Jean Bosco'
 'UDAHEMUKA Ange Mireille' 'Irakoze Dorcas' 'Kwizera Sedrick'
 'NIZEYIMANA SAMUEL' 'Rugwiro Mariza Ines' 'CYUBAHIRO PACIFIQUE'
 'Inema Frank' "HABUMUGISHA Jean d'Amour" 'TUYISHIME LUCKY DANIEL'
 'Muhire Placide' 'INEZA BAMBE' 'Ahishakiye Emmanuel' 'Niyobyose Divine'
 'Abayisenga sandrine' 'Mwedusa patrick' 'Imfurayase Ishimwe Lucky'
 'Iranezeza Emelyne' 'Shimirwa Noel Justin' 'Nisingizwe Maurice'
 'Nsengiyumva Innocent' 'Nyirarukundo Fillette' 'Tumukunde Pascaline'
 'Ngomanziza Everigiste' 'Kanyesige gift' 'Umwiza bonette'
 'Bizimana irene' 'ABIZERA Gloria' 'Niyonkuru cedric'
 'Ntirenganya Alphonse' 'Nyiransengimana Angelique' 'Irasubiza olivier'
 'MUGISHA ETIENNE' 'Nzayisenga Divine' 'Mugisha Firone'
 'IRADUKUNDA Sandrine' 'Ndayishimiye Chantal' 'UMUKUNDWA SANDRA'
 'TUYIZERE Divine' 'Ntakirutimana Gervais' 'UWIZEYIMANA Consolee'
 'Niragire Claudine' 'Iradukunda Solange' 'IRAKOZE BETTY'
 'HABUMUGISHA EMMANUEL' 'Gisubizo shema' 'Kuberimana jamvier'
 'Iranzi Issa' 'Cyubahiro Ineza Arthur Colin' 'Itangishaka etienne'
 'UWAMAHORO Clementine' 'Kabirigi Donati' 'MUGISHA Rugambwa'
 'NIYOGISUBIZO Esther Marine' 'Mugisha Adolphe' 'RUTAYISIRE JOSEPH'
 'Usanase carine' 'Irasubiza mugisha kevin' 'Irasubiza thierry'
 'KAYITESI EPIPHANIE' 'ABIZEYIMANA Dieudonne' 'MANIRIHO REPONSE'
 'Irasubiza charlotte' 'ISUMBABYOSE LEO' 'TURESA NAKATO'
 'INEZA MARIZA JOYCE' 'Niwese Djabilla' 'Munyanawase Diane'
 'UWAMWIZA Assoumpta' 'NIZEYIMANA EMMANUEL' 'Shyirakumutima henriette'
 'Iratunezeza Munezero Artine' 'NIYITANGA Theogene' 'Aburwibutso Ernest'
 'IRAKOZE SHALLOM' 'Habumugisha Placide' 'Niyogisubizo edine' 'Uteta Hope'
 'KAGABO DAVID' 'Niyonkuru Alexis' 'IRASUBIZA UWASE TETA Joyce'
 'Izabayo Umwali Hope' 'UWIRINGIYIMANA Theoneste' 'Uwimana Florence'
 'HABIMANA JEAN BOSCO' 'IRATUZI NYIRAMAHIRWE' 'ALEXANDRE'
 'Manizabayo Thogene' 'Ishimwe Olivier' 'GISUBIZO YESAYA'
 'Tuyizere divine' 'Manirumva Obed' 'KAYIHURA Wilson' 'NDATIMANA Robert'
 'Igiraneza alice' 'Nibishaka Diane' 'Abizerimana Jean dodie'
 'NIYOMUGABO FABRICE' 'IRIHOSE Christian' 'KANANURA ISAAC' 'MUGISHA FRED'
 'Gatsinzi alfa' 'Munezero sadrine' 'Mporansenga Faustin'
 'Umwiza Peace Keilla' 'Batamuriza Germaine' 'Uwamarayika'
 'Ndayishimiye  Jean de la Paix' 'MUHAWENIMANA CONSOLEE'
 'HAKIZIMANA Abdul' 'Uwihirwe Patience' 'Nshimiyimana J.Baptiste'
 'INEMA FRANK' 'Umuhoza Innocente' 'Icyizere Aime' 'TUMUKUNDE Chantal'
 'Dukundane elias' 'Uwikunda Henriette' 'Gisubizo Ganza Obrella'
 'Haputumicayile salomo' 'Tuyizere mugabe irene' 'Akingeneye Laurence'
 'TUYIZERE Jean de Dieu' 'Habumugisha Jean Damascene' 'UWASE NOELINE'
 'Niyogisubizo Ibrahim' 'UMURENGEZI SCHADRACK' 'Nsanzintwari shaffi'
 'IRADUKUNDA Augustin' 'Ishimwe mugisha noella saboth' 'NTWALI KEVIN'
 'Niyomugabo Patrick' 'NIYONIZERA Jean Paul' 'Irahibereye Donath'
 'Imanigirimpuhwe Prissica' 'MWIZA DOREEN' 'Bizimana egide'
 'NGABITSINZE  Samuel' 'Ngirimana  Jean de Dieu' 'Uwimpuhwe Rusi'
 'Muragijemariya Anitha' 'Ishema Aline' 'Gasaro Keza Ketia'
 'DUSHIMIMANA DENYSE' 'Rwabuneza Prince' 'MANIRAFASHA HONOLINE'
 'Niyiduha Eric' 'Iradukunda Joseline' 'Iratuzi pacifique'
 'Iratabara Samuel' 'Uwiduhaye Divine' 'Irakiza Jado Fils'
 'IGIRANEZA Alpha' 'Uwiragiye Clénia Josiane' 'Irishami Belyse'
 'HAHIRWUWIZERA J.M.V' 'Manishimwe Simeon' 'Tumukunde rachel'
 'MURUMUNAWABO NAOMBE' 'Jyamubandi Charles' 'NIYIGENA ALLAIN'
 'Mugisha Rukundo Christian' 'Ndinzwenayo jackson' 'UWIMANA CLAUDINE'
 'NSHUTIYIMANA DONATIEN' 'Sinjyeniyo Ferdinand' 'NGENZI PEACE OF GOD'
 'NIYOGISUBIZO  Appolinaire' 'Iradukunda Agnes' 'Impano cedrik'
 'Dusingizimana Anastase' "Samamahoro Jean D'Amour" 'Uwineza centia'
 'DUSABEMARIYA FRANCINE' 'Niyizibyose Benitha' 'Ishimwe Dieu donne'
 'Habarugira egide' 'Niyongabo theogene' 'Cyifuzo Manzi Dominique'
 'Kwizera Cedrick' 'Uwimigisha  Carine' 'Mushikiwabo davinah'
 'Kayitesi Solange' 'Uwiringiyimana Delphine' 'Tuyubahe Elise'
 'Munezaro Dieu Donne' 'Tuyubahe Jean Claude' 'Imanirimaso Angeligue'
 'Kuzwiteka Deogratias' 'Irasubiza Mugisha Kevin' 'Itangishaka Honorine'
 'Uwinkunda Henriette' 'UWINEZA CYNTHIA' 'Habakurama Jeremie'
 'KANANURA WILLIAM' 'Isheja Sosthene' 'Teta aime carine'
 'Tuyisenge Abraham' 'Umuhire kevin' 'Niyogisubizo ghadi'
 'Sangwa Guillaume' 'Iracyaturinze' 'Isimbi Kellia' 'IZABAYO UMWARI Hope'
 'Ineza gaella' 'UWIMANA Sandrine' 'Nsabimana Alnord' 'Gakuru tumwine'
 'Nzayisingiza Emmanuel' 'ISHIMWE JADO FILS' 'Turikumwe Rafiki'
 'Uwamahirwe Jeanine' 'BIZWINAYO DIVIA' 'Iradukunda scovia'
 'Ibyisha mongeri lucky' 'MURISA Aime Darius' 'Mutebuka Frank'
 'Dufitumukiza Samuel' 'Dufitumuhoza Pascaline' 'ISHIMWE ARIETTE'
 'Niragire Seraphine' 'Ishimwe Gervais' 'Byosenimana clever'
 'NIYONSHUTI Emmanuel' 'MUGISHA JMV' 'Uwamahoro Sandrine'
 'Kabihogo hanifa' 'Iribuka Jean De Dieu' 'IRAKOZE FABRICE'
 'HAGENIMANA PHENIAS' 'Dukundimana Perusi' 'Umwari uwase nadia'
 'Habumugisha  Emmanuel' 'KAVAMAHANGA FRANCOIS' 'Keza Benigne Shanelle'
 'Iradukunda fils' 'Manzi Christian' 'UWINEZA Aline' 'Habumugisha Abraham'
 'UWIRAGIYE Aline' 'Uwineza Angelique' 'Dusengimana Obama'
 'Mutezimana Divine' 'NISHIMWE KEVINE' "NIYONKURU JEAN D 'AMOUR"
 'Irakoze Kevine' 'Bahati teta hope' 'Impano Divine' 'Mucunguzi Eric'
 'BYAMUNGU Jesus' 'MUKESHIMANA JEANETTE' 'Niyoyita Alexis'
 'Twizerimana moses' 'IRASUBIZA Braza' 'NSENGIYUMVA Daniel'
 'Hagenimana Revelien' 'Nzayiramya Amos' 'ISIMBI JUSTINE' 'KWISANGA Yves'
 '210207190092' 'NIYOMUGABO Alistide' 'Kankesha Mariyeta'
 'Kwizera thierry' 'Niyogisubizo Diane' 'Twizerimana emmanuel'
 'DUKUNDIMANA Alice' 'MWAMINI JOSELYNE' 'Shema Jean pierre'
 'Biziyaremye Jean eric' 'Dushimirimana denise' 'UMWIZA Peace Keilla'
 'Ryumugabe juribert' 'Rugwiro mariza ines' 'Mutuyimana Angelique'
 'NIGENA Musa' 'Uwineza Gloria' 'Uwambajimana Aline' 'INEZA Nelly Olga'
 'IKIREZI BONNETTE' 'Uwase Ingabire' 'Ntakirutimana Aime Chance'
 'Uwikunze Chance Vanessa' 'Niyonkuru Dushimirimana Fidele'
 'HAKIZIMANA DANIEL' 'RABANI JOSEPH' 'IRIBAGIZA MARIE CLAIRE'
 'IRAKOZE Fabrice' 'Igufitiyimpuhwe emelyne nadine'
 'Nshimiyimana Jean bosco' 'Niyomungeri jean Paul' 'Uwamahoro Julinne'
 'IRAKOZE NADINE' 'GIHOZO Joyce' 'Niyogisubizo Sandrine'
 'Uwigikundiro Josianne' 'Niyindeba fiette' 'SINZAYIBAGIRWA DAVID'
 'Turikubwimana Theoneste' 'Twagizwenayo Solange'
 'ISHIMWE MUGISHA NOELLA Sabath' 'IRADUKUNDA OMEGA'
 'NYINAWUMUNTU Marie Grace' 'Twishime Bosco' 'IBYIMANIKORA Ruth'
 'Dufitumukiza oswald' 'Manishimwe Valens' 'IRADUKUNDA JOSIANE'
 'NIYOYITA EMMANUEL' 'Irakiza Cedrick' 'Kwizera Patrick' 'Mugisharugambwa'
 'TWAHIRWA ERNESTE' 'UWASE PEACE' 'Mutoniwase janet'
 'Umutoniwase resistuta' 'UWIKUNDA Emelyne' 'Ingabire Francine'
 'Nitanga Eric' 'UWIRINGIYIMANA SHARIR' 'IRYIVUZE JEAN LUCK'
 'Mwizerwa Salomon' 'Iradukunda Helper' 'Singa Bernadette'
 'Mucyo Ganza Kevin' 'IMANIRANZI SARAH' 'Ikuzwe denise' 'Hirwa Arstide'
 'KWIZERA UTUYE Christian' 'NIWEMWIZA ALIANE' 'UWASE PROVIDENCE'
 'DUSENGIMANA Eliab' 'UJENEZA GISELLE' 'CYUZUZO Sixbert'
 'Irasubiza Richard' 'Gatesi Florence' 'IRAKOZE PIERRE CELESTIN'
 'Uwase Ariette' 'Nshimiyimana Mohammed' 'MUCYO GANZA KEVIN'
 'Nshimiyimana Lidiya' 'Umubyeyi Rugero Sylvie' 'Ibyikora Oreba'
 'UWINEZA JAQUELINE' 'UWIRAGIYE FISTON' 'Imana niyokwizerwa shadrake'
 'Ishimwe Darsa' 'HABIMANA CHRISTA' 'Iribuka Jean de Dieu'
 'Niyonzima John' 'Ihirwe Karisa Loxy' 'Mutuyima  benitha'
 'MURAGIJIMANA ROSINE' 'Nishimwe Aliane' 'NIGENA Pascal'
 'Nsengiyumva Daniel' 'Mutatsimpundu denyse' 'MUKUNZI ANICK IRUMVA'
 'Ineza Armelle' 'Uwizeyimana solange' 'MANIRAKIZA Josephine'
 'Nkurunziza theophille' 'Ndahimana Jean de Dieu' 'NYIRARUKUNDO Fillette'
 'ABATESI ERICAIN' 'INGABIRE EVELYNE' 'Dukuze Aime Christian'
 'HAKIZIMANA STIVEN' 'NIYOGAKIZA PEACE MAKER' 'UMUTONIWASE CLAIRE'
 'Abasengimana Gisele' 'Gisubizo josua' 'Umutuzo cyntia'
 'Mukeshimana Brigitte' 'Mugisha eliah' 'Mukanoheri Violette'
 'Niyonkuru Eric' 'NZAMUTUMA FELECIEN' 'Ihimbazwe Alpha Bryan'
 'MUGISHA Noella' 'IZIBYOSE Innocent' 'KAMUKAMA HOPE' 'TUMWINE Enock'
 'Sanyu winnie' 'Mushimiyimana Marie Claire' 'UWASE Deborah'
 'Zirikanimana Obadia' 'IRAKOZE CHANCE' 'UWAREMWE Centhia'
 'Benegusenga Sarah' 'ISHIMWE Fabrice' 'Natete Chania' 'TIYISENGE Obed'
 'Igiraneza Asifiwe Oceanne' 'Muhawenimana Emerithe' 'Muhawenimana Diane'
 'INEZA JACK' 'Nzayisenga Egide' 'UWITONZE Devotha' 'Twarayisenze Epimake']
['.' '241006002001' '-555' '540712200041' '240505005003' '320208003002'
 '530507200319' '240501003002' '540712210495' '210908005018'
 '331216001021' '130604004020' '540712220024' '530814210265' '555'
 '420513005002' '421509002010' '420609003025' '421207003002'
 '330206001002' '430506200147' '420903002044' '540609230225'
 '530503003027' '540702181444' '430506002016' '530503004023'
 '321001220115' '540712210384' '210125003002' '130146005009'
 '430704005043' '540610005057' '421402001013' '540712210474'
 '430704004062' '420514004041' '330608190362' '421102002011'
 '330504220247' '540712001002' '420411200321' '210902002001'
 '431206004002' '210901003001' '420612005001' '530906003042'
 '420802190014' '431104001002' '320403003001' '421102001027'
 '210207005002' '240505001001' '430104001006' '210125001001'
 '330534002020' '541006002001' '420903005030' '130146005001'
 '431008190475' '530906006040' '120108230607' '420903001020'
 '240501003001' '540609004003' '420612002001' '320401003001'
 '211001003001' '420909003001' '130810200547' '330816006001' '21108002025'
 '331216001007' '421613191408' '530503230414' '421512190759'
 '430506230158' '320208002002' '530503230471' '421509005033'
 '210902002002' '420411181545' '530906005040' '530107005021'
 '541015005001' '540712002012' '530507001022' '330214002001' '55'
 '431104001004' '42090320017' '540712003007' '420101001014' '421509005035'
 '540712005002' '540919001003' '530814005062' '420903002042'
 '420903005029' '240501004005' '540712220138' '530503005016'
 '420101100113' '120108221185' '330909004001' '420903005027'
 '431104001001' '531105002031' '421613005001' '240501001002'
 '210908002004' '240505001002' '421611001051' '540712200368'
 '420411190333' '130823200035' '130823210214' '540919001001'
 '540457001001' '540712220143' '540704001027' '420513005004'
 '421613002033' '541006002004' '540712200126' '540208200058'
 '210901002001' '420806001045' '330434220175' '210713220254'
 '530803005050' '331106220480' '540712004009' '320601190100'
 '330434220043' '330909005001' '421613004031' '540704230216'
 '530814005072' '210115001002' '42011200228' '430704005041' '421004005041'
 '530503003023' '540614006052' '320208180587' '240921220131'
 '540609004002' '210207190092' '540712200216' '531105220219'
 '530906003040' '210713005003' '541006002006' '210713006001'
 '430907220130' '420806001044' '430101002003' '421512004017'
 '130313190395' '330432005022' '540712210436' '431209001002'
 '430114002001' '130146006002' '530503003019' '320403230103'
 '430714003001' '42150190284' '330534002023' '530814605071' '540117001001'
 '430506002019' '130146005006' '330432004020' '530814005065'
 '330806003001' '421714190200' '210125003003' '330434001020'
 '331216003020' '5556' '330534002021' '320205190468' '420909005021'
 '421207003001' '421613003041' '420806001043' '421804004001'
 '240505003002' '420802001031' '530906003041' '540712003001'
 '421512004011' '130146005003' '240921220082' '530814140050'
 '430704005042' '541006002005' '530503002027' '420411190264'
 '321108220365' '431401002001' '430906001001' '420903005033'
 '540609006001' '210707004001' '421102001026' '210115001004'
 '430506181060' '540712005001' '555555555555' '240501001001'
 '320806004001' '540702182055' '240921220089' '540712200371'
 '320403005005' '430906004001' '431206001040' '420806001047'
 '420909005018' '240505005005' '430506004015' '530717230436'
 '320208003001' '120402201051' '420903001021' '431206005040'
 '210504001002' '430704001040' '530503005013' '210510004001'
 '331216191478' '121431220311' '420411200175' '530503004020'
 '430506220065' '331216004020' '540457230199' '320208003003'
 '530507001029' '540712200159' '210504220012' '431108004001'
 '330432005021' '530814005063' '210908002001' '420806001042'
 '430704190292' '330534230418' '540712200150' '540712002007'
 '210908002003' '210713005001' '530106005021' '120108220949'
 '541015005003' '420302003028' '320402005001' '510712002010'
 '540712002003' '240202003001' '331216001023' '420903005028'
 '421108002006' '540705161147' '540712004007' '421613004032'
 '430102002023' '540712210425' '530503003024' '431104005001'
 '210801210212' '211005005001' '530507001023' '321202003001'
 '240505005002' '330432004021' '531105002035' '421112004025'
 '541006004001' '430114002002' '331216001025' '540712004001'
 '210207005001' '240709001001' '330806003002' '5407122002006'
 '130146005012' '421807055001' '530506006027' '210205200072'
 '421102002010' '530814171671' '210114220221' '430704002003'
 '420504005001' '421509210153' '330534001020' '4305061550' '130823200296'
 '420903002046' '540712210410' '530906220601' '420315006072'
 '530906003043' '530814005073' '530814181758' '430506002025'
 '330432004022' '431305006017' '240921002001' '330206001001'
 '420903001023' '530814005061' '421509005032' '430101002001'
 '430704005045' '430506002018' '211001220007' '540712003004'
 '421112004026' '130823200110' '420903003031' '421004005040'
 '530814005068' '240501002001' '330504004017' '210504001001'
 '421102003026' '540712200142' '540712230055' '210908002002'
 '431305002024' '130146005008' '540712002002' '240505002001'
 '530503003026' '130146005002' '5707122003003' '430906005001'
 '530503230465' '530503200236' '540216200059' '240505003001'

In [51]:
df_team_1[["student_code","student_code_other"]][df_team_1["student_code_other"]!="."]

       student_code student_code_other
41     241006002001       241006002001
100    420311001002               -555
156    540712200041       540712200041
189    240505005003       240505005003
348    320208003002       320208003002
...             ...                ...
56207  320403230137       320403230137
56286  540609004001       540609004001
56389  210908190148       210908190148
56477  540712200267       540712200267
56828  430506181222       430506181222

[711 rows x 2 columns]

In [53]:
df_team_1["student_code_other"][41] == df_team_1["student_code"][41]

True

In [58]:
df_team_1.loc[df_team_1["student_code_other"] == df_team_1["student_code"], "student_code_other"] = "."
print(df_team_1.student_code_other.unique())

['.' '-555' '555' '540712210384' '21108002025' '555555555555'
 '510712002010' '540712210425' '421807055001' '4305061550' '5707122003003'
 '4211020003025' '211001230088' '421102210191' '42111204027'
 '320028002001']

In [59]:
df_team_1.loc[df_team_1["student_code_other"] != ".", ["student_code","student_code_other"]]

       student_code student_code_other
100    420311001002               -555
671    420311001003               -555
1268   421512190377                555
1443   420806001007                555
2433   421512190802                555
...             ...                ...
52350  420903001015                555
52646  421207003001                555
53804  421512190417                555
53823  421512002004                555
54817  421509005006                555

[64 rows x 2 columns]

In [60]:
df_team_1.loc[df_team_1["student_code_other"] != ".", "student_code_other"].unique()

array(['-555', '555', '540712210384', '21108002025', '555555555555',
       '510712002010', '540712210425', '421807055001', '4305061550',
       '5707122003003', '4211020003025', '211001230088', '421102210191',
       '42111204027', '320028002001'], dtype=object)

In [61]:
df_team_1.loc[df_team_1["student_code_other"].isin(['540712210384', '21108002025',
       '510712002010', '540712210425', '421807055001', '4305061550',
       '5707122003003', '4211020003025', '211001230088', '421102210191',
       '42111204027', '320028002001']), ["student_code","student_code_other"]]

       student_code student_code_other
2800   540712210382       540712210384
5634   421108002025        21108002025
20610  540712002010       510712002010
21698  540712001110       540712210425
23344  421807005001       421807055001
24300  430506160550         4305061550
27585  540712003003      5707122003003
31098  421102003025      4211020003025
31101  211001002110       211001230088
33039  421102001100       421102210191
44755  421112004027        42111204027
46584  320208002001       320028002001

let's create a column that will help us track these inconsistencies

In [62]:
df_team_1["student_code_unsure"] = np.where(df_team_1["student_code_other"].isin(['540712210384', '21108002025',
       '510712002010', '540712210425', '421807055001', '4305061550',
       '5707122003003', '4211020003025', '211001230088', '421102210191',
       '42111204027', '320028002001']),"flagged","passed")

In [66]:
print(df_team_1["student_code_unsure"].value_counts())

passed     56894
flagged       12
Name: student_code_unsure, dtype: int64